
{{ 'popup-for-patient.scss.css' | asset_url | stylesheet_tag}}
{% if cfh contains 'DesignMode' %}
{%else %}
<style>
  .popup-doctors-list{
    width: 100%;
    margin-top: 10px;
  }  
  .doctors-list-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .select-btn{
    padding: 10px 10px;
    font-size: 10px;
  } 
  .btn-inactive{
    font-size: 12px;
    color: gray;
    font-family: 'Harmonia Sans';
    font-weight: lighter;
    text-transform: uppercase;
    border: 1px solid gray;
    padding: 0px 19px;
  }a.for-homepage {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 12px;
    margin-top: 30px;
    /* margin-bottom: -30px;  */
}  .doctors-list-item>span {
    font-size: 18px;
}        
</style>  
{% capture errorCode %}
<p style="
    padding: 0px 10px;
    "><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width: 32px;padding: 0px 5px; display:inline-block; position: relative;
    top: 3px;" xml:space="preserve"> 
<path style="fill:#A8EEFC;" d="M511.342,501.574l-73.78-178.607c-1.16-2.808-3.882-4.637-6.901-4.637H81.339  c-3.019,0-5.742,1.83-6.901,4.637L0.657,501.574c-0.961,2.324-0.705,4.979,0.683,7.073C2.727,510.742,5.06,512,7.559,512h496.882  c2.498,0,4.832-1.259,6.219-3.353C512.047,506.554,512.302,503.899,511.342,501.574z"></path>
<path style="fill:#7EE5F2;" d="M480.641,512h23.8c2.498,0,4.832-1.259,6.219-3.353c1.387-2.093,1.643-4.748,0.683-7.073  l-73.78-178.607c-1.16-2.808-3.882-4.637-6.901-4.637h-30.023L480.641,512z"></path>
<g>
	<path style="fill:#4CE166;" d="M123.166,385.691l25.459-67.528H80.866c-3.019,0-5.742,1.83-6.901,4.637l-25.98,62.891H123.166z"></path>
	<path style="fill:#4CE166;" d="M430.188,318.163H194.912l68.623,59.839h196.358l-22.803-55.201   C435.929,319.994,433.207,318.163,430.188,318.163z"></path>
	<polygon style="fill:#4CE166;" points="461.655,382.269 463.069,385.691 463.069,385.691  "></polygon>
</g>
<polygon style="fill:#FFDB56;" points="482.581,432.928 459.893,378.002 263.534,378.002 194.912,318.163 148.878,318.163   143.02,318.163 118.18,377.987 51.169,377.987 36.117,414.423 28.473,432.928 95.555,432.928 62.962,511.833 123.941,511.833   176.291,383.658 327.257,511.833 416.385,511.833 326.161,432.928 "></polygon>
<path style="fill:#FF4A4A;" d="M255.527,0C166.495,0,94.063,72.977,94.063,162.678c0,30.924,8.352,63.733,24.827,97.515  c13.036,26.734,31.175,54.161,53.91,81.52c38.572,46.415,76.553,76.214,78.152,77.461c1.348,1.051,2.961,1.574,4.575,1.574  s3.228-0.525,4.575-1.574c1.598-1.247,39.579-31.046,78.152-77.461c22.736-27.359,40.875-54.786,53.91-81.52  c16.475-33.783,24.827-66.591,24.827-97.515C416.991,72.977,344.559,0,255.527,0z M255.527,100.798  c33.92,0,61.418,27.705,61.418,61.88s-27.498,61.88-61.418,61.88s-61.418-27.705-61.418-61.88  C194.109,128.503,221.607,100.798,255.527,100.798z"></path>
<path style="fill:#E7343F;" d="M255.527,0c-5.313,0-10.566,0.268-15.749,0.775c81.668,8.002,145.715,77.555,145.715,161.903  c0,30.924-8.352,63.733-24.827,97.515c-13.036,26.734-31.175,54.161-53.91,81.52c-26.454,31.833-52.626,55.846-66.978,68.197  c6.575,5.658,10.672,8.872,11.173,9.263c1.348,1.051,2.961,1.574,4.575,1.574s3.228-0.525,4.575-1.574  c1.598-1.247,39.579-31.046,78.152-77.461c22.736-27.359,40.875-54.786,53.91-81.52c16.475-33.783,24.827-66.591,24.827-97.515  C416.991,72.977,344.559,0,255.527,0z"></path>
<polygon style="fill:#4CE166;" points="123.941,511.833 327.257,511.833 176.291,383.658 "></polygon>
<polygon style="fill:#FFBB24;" points="424.884,378.002 447.573,432.928 482.581,432.928 459.893,378.002 "></polygon>
<path style="fill:#44C868;" d="M424.884,378.002h35.009l-22.803-55.201c-1.16-2.808-3.882-4.637-6.901-4.637h-30.023  L424.884,378.002z"></path>















</svg><a href="https://prolonfmd.com/pages/find-provider">Click here</a> to locate your provider.</p>
{% endcapture%}


<div class="popup-wrapper">
  <div class="popup-for-patient">
    <div class="patient-question">
      Please input your provider's First Name, Last Name and City(optional).
    </div> 
    <form action="" class="providers-code">
      <label class="provider-first-name">
        <span>Enter Provider's First Name *</span>
      <input
        type="text"
        required
        class="first-name"
        name="first-name"
        placeholder="First Name"
      />
      </label> 

      <label class="provider-last-name"> 
        <span>Enter Provider's Last Name *</span>
        <input
        type="text"
        required
        class="last-name"
        name="last-name"
        placeholder="Last Name"
      /> 
      </label>

      <label class="provider-city-name">
        <span>Enter Provider's City Name (optional)</span>
        <input
        type="text"
        class="city-name"
        name="city"
        placeholder="City Name"
      />
      </label>
 
      
      <div class="result"></div>

      <input
        type="hidden"
        class="discount"
        required
        placeholder="Enter Provider's Code"
      />
      <button class="btn-submit">Search</button>
      <div class="popup-doctors-list">
      </div>
       
      <a class="for-homepage" href="/pages/find-provider">Go To Practitioner Locator</a>
    </form>
  </div>
</div>
 
{% render 'popup-for-patients-email'  %}
 
 
<script>

    window.addEventListener('storage', (event) => {
        
        // Check the changed key and react accordingly
        if (event.key === 'provider_code') {
        window.emitter.emit('new_provider_code', { code:event.newValue });  
        } 
      });

    function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}
    $(document).ready(function () {



      let providerForm= $('.providers-code');

      let clear= getParameterByName('clear');
      if(clear=='1')
      { 
        Cookies.set("provider_code", null, { expires: 700 });
        localStorage.setItem("provider_code", null);
        Cookies.set("discount_code", null);
      }

      let firstName= getParameterByName('first-name');
      let lastName= getParameterByName('last-name');
      let City= getParameterByName('city'); 
      let HCPCODE= getParameterByName('hcp');
      let directPatient= getParameterByName('direct_patient');

     if (directPatient && directPatient != '') {
        Cookies.set("provider_code", null);
        localStorage.setItem("provider_code", null);
        Cookies.set("discount_code", null);
      }

      
      if(HCPCODE){ 
        Cookies.set("provider_code", HCPCODE, { expires: 700 });
        localStorage.setItem("provider_code", HCPCODE);
        window.emitter.emit('new_provider_code', { code: HCPCODE });
        Cookies.set("discount_code", HCPCODE);//this is for Stripe Checkout 
        window.discountCode = HCPCODE;   
      }
      if(firstName && firstName!=''){

      providerForm.find(`[name="first-name"]`).val(firstName);
      }
      if(lastName && lastName!=''){

      providerForm.find(`[name="last-name"]`).val(lastName);
      }
      if(City && City!=''){

      providerForm.find(`[name="city"]`).val(City);
      } 
      if((firstName && firstName!='') || (lastName && lastName!='') || (City && City!='')){
        Cookies.set("provider_code", '', { expires: 700 }); 
        localStorage.setItem("provider_code", '');
        $('button.btn-submit').click();
      }    

      let productTags= {{product.tags | json }};
      let providerCode = Cookies.get("provider_code");
      let _data= getParameterByName('_data');
      if(_data && _data!=''){
        let decodedData= atob(_data);
        let decodedJSON= JSON.parse(decodedData);
        if(decodedJSON){

        providerCode = decodedJSON.hcpcode; 
        Cookies.set("provider_code", providerCode, { expires: 700 });
        localStorage.setItem("provider_code", providerCode);
        Cookies.set("discount_code", providerCode);//this is for Stripe Checkout 
        window.discountCode = providerCode;  

          let {variant_id}= decodedJSON;
          if(variant_id){ 

            CartJS.clear()

            CartJS.addItem(variant_id,1,{
            
          },{success:function(){
            SuperCart.ShowCartfn()
          }});  
          } 



        }


      }

 
      if (providerCode && providerCode != "" && providerCode != "null") {
         window.discountCode = providerCode;
        Trackuser('{{handle}}')


      } else {
        if(productTags && productTags.includes('patient')){
        //$(".popup-wrapper").addClass(`active`);
        if(Shopify.designMode)
        {
            return 
        }
        if(directPatient && directPatient!=''){
          $("body").addClass(`popup-patient-email-popup`);
        } 
        else 
        $("body").addClass(`popup-provider-code`);
         
        }
      }
    });

    $(".providers-code").submit(function (e) {
      e.preventDefault();
      let context = $(this);
      $('.popup-doctors-list').html(``);
      let btnSubmit = $(".providers-code .btn-submit");
      let result = $(".providers-code .result");
      result.html(``);
      try { 
        btnSubmit.html(`<div class="dcbLoader">Searching...</div>`);

 
        let firstName= $('.first-name', context).val();
        let LastName= $('.last-name', context).val();
        let cityName= $('.city-name', context).val();
 
//         let codes =firstName+LastName+cityName; //jQuery(`.providers-code .discount`).val();
//         codes= codes.toLowerCase(); 
        var settings = {
          url: `https://prolon-pro.herokuapp.com/shopify-customers/search?first_name=${firstName}&last_name=${LastName}&city=${cityName}&shop=prolon-fmd-2020.myshopify.com`,
//           url: `http://localhost:1337/shopify-customers/search?first_name=${firstName}&last_name=${LastName}&city=${cityName}&shop=prolon-fmd-2020.myshopify.com`,
          method: "GET",
          timeout: 0 
        };  

        $.ajax(settings)
          .done(function (response) {
            if(response && response.length > 0){
              console.log(response);
              if(ga){ 
                ga('send', {
                hitType: 'event',
                eventCategory: 'ProviderSearch',
                eventAction: 'ProviderFound',  
                eventLabel:`FirstName=${firstName}|LastName=${LastName}|City=${cityName}`
                });
            } 
              let html = "<h5>Please select your provider:</h5>";

              response.forEach(customer => {
                html += `<div class="doctors-list-item"><span>${customer.first_name} ${customer.last_name} (${customer.default_address?customer.default_address.city:''})</span>${customer.hcp_code ? `<button class="btn select-btn" onclick="selectDoctor('${customer.hcp_code}')">CLICK HERE</button>` : "<button disabled class='btn-inactive'>Inactive</button>"}</div>`
              })  
              $('.popup-doctors-list').html(html);
              btnSubmit.html(`Search`)
//               btnSubmit.hide(); 
            }else{     

              if(ga){
              ga('send', { 
              hitType: 'event',
              eventCategory: 'ProviderSearch',
              eventAction: 'ProviderNotFound', 
              eventLabel:`FirstName=${firstName}|LastName=${LastName}|City=${cityName}`
              });
              } 
              btnSubmit.html(`Search`).removeAttr("disabled");
                result.html(
                  `<div class="error-message last-minute-coupon animated flash" >Please ensure you have the doctor first name, last name and city.{{errorCode}} </div>`
                ); 
            }
          }) 
          .fail(function (ex) {
            btnSubmit.html(`Search`).removeAttr("disabled");
            result.html( 
              `<div class="error-message last-minute-coupon animated flash" >Please ensure you have the doctor first name, last name and city</div>{{errorCode}}`
            );  
          }); 
      } catch (ex) {}
    });
  function selectDoctor(hcp){
//     console.log(hcp);
    $("body").removeClass("popup-provider-code");
    Cookies.set("provider_code", hcp, { expires: 700 });
    localStorage.setItem("provider_code", hcp); 
    Cookies.set("discount_code", hcp);//this is for Stripe Checkout
    window.discountCode = hcp;  
    Trackuser('{{handle}}')
  
  }
  function Trackuser(handle){

    let API_URL = 'https://prolon-pro.herokuapp.com';
    if(localStorage.getItem('dev_mode')==1)
    {
    API_URL = 'http://localhost:1337';  // FOR DEV
    }else{
      // return ;
    }  

    var settings = {
  "url": `${API_URL}/stores/track-event?hcp_code=${window.discountCode}`,
  "method": "POST",
  "timeout": 0,
  "headers": {
    "auth": "8a33745c95c754dd16db623dd45502b6",
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "event_name": "product-page-view",
    "event_type": "page_view",
    "meta_data": null,
    "location": "prolonfmd.com", 
    "generated_by": "API",
    "handle": handle,
  }),
}; 

$.ajax(settings).done(function (response) {
  console.log(response);
});
    
    
  }
</script> 
<style>
  .header-item.header-item--logo.header-item.header-item--logo {
    width: 100px;flex-grow: unset;flex: 1!important;justify-content: flex-end;flex-grow: 1;width: 100%;    justify-content: center;
    margin-left: 150px;    max-width: 100%;
 
  
  }
.header-item--logo, .header-layout--left-center .header-item--logo, .header-layout--left-center .header-item--icons {flex: unset!important;}  

@media(max-width:767px){
 
  .header-item.header-item--logo.header-item.header-item--logo {
    margin-left: 15vw; 
  } 
}
</style>          

{% endif  %} 