<style>
.product-choise {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto; 
    flex-wrap: wrap;
    padding: 10px 0px; 
}
.hero-banner.pointer {
    cursor: pointer;
} 
.single-product-wrapper {
    width: 32%;
    margin: 0 auto;
    min-width: 320px;
    text-align: center;
    box-shadow: -1px 6px 8px #d8d8d887;    margin-bottom: 20px;
 
}
.choose-susbcription .flex.inline-wrapper {
    justify-content: center!important;
} 
.single-product-wrapper h3.title-line {
    font-size: 17px;
    text-align: center;
    padding: 10px;
    background: var(--colorCartDot);
    color: white;
    margin: 0px;
} 

.single-product-wrapper i.sub-heading {
    border-bottom: 1px solid #d7d7d7;
    display: block;
    padding: 6px;
}

.single-product-wrapper img {
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
}

.single-product-wrapper .price-box {
    display: block;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 0;
    padding-bottom: 20px;
}

.single-product-wrapper p.main-price {
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
}

.single-product-wrapper .description {
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid #d7d7d7;
}  
.single-product-wrapper .sub-desc {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.single-product-wrapper .sub-desc p {
    padding: 0px;
    margin: 0px;
} .single-product-wrapper[data-v="37391319433374"] {
    order: -1;
} .single-product-wrapper {
    cursor: pointer;
}
.single-product-wrapper[data-v="37391319433374"] .price-box:after {

transition:all .51s ease;
    content: "Perfect for First Time Faster";display: block;width: 100%;position: absolute;left: 0px;background: red;bottom: -36px;padding: 5px 0px;color: white;opacity: 0;font-weight: bold;}

.single-product-wrapper[data-v="37391319433374"]:hover .price-box:after {opacity:1}


.price-box.do-add-to-cart {
    position: relative;
} 
@media(min-width:767px){
    .single-product-wrapper .description {
        height: 200px; 
    } 
    .single-product-wrapper .sub-desc {
    height: 90px;
    } 
} 
.single-product-wrapper .sub-desc {    border-bottom: 1px solid #d7d7d7;
}
h2.av-special-heading-tag {
    font-size: 28px;
}
 
p.main-price.green-price {
    color: #73984a;
}  
.choose-susbcription .flex.inline-wrapper {
    display: flex;
    justify-content: space-between;
}
  

.choose-susbcription .flex.inline-wrapper span {
    display: flex;
    align-items: center;
}

.choose-susbcription .flex.inline-wrapper span label {
    margin: 0px;
}
</style>
<div id="product-choice" class="product-choise"> 
{% for v in product.variants limit:3 %}
{% unless  alreadyAdded contains v.option2 %}
{% if v.option2 contains 'Subscri' %} 
{% assign alreadyAdded = alreadyAdded |  append: ", " | append: v.option2 %}

{% assign message =  "Prolon <b>Subscription</b> " %} 
{% assign price_class =  "green-price" %}
{% assign title = '<h3 class="title-line do-add-to-cart"     style="
background: #fec91c;color:black;
">Enhanced Fasting
</h3>' %} 
{% capture description %}
  
<div class="choose-susbcription">
  <p>On-Going* Metabolic Health and Healthy Aging Maintenance Plans. </p>
  <p>I want to receive ProLon:</p> 
  <p data-children-count="4" class="flex inline-wrapper">
      <span>
    <input id="every-month" name="subscription_cart"  type="radio" value="1" /><label for="every-month">Every month </label>
    </span><span style="
    padding-left: 20px;
">   
    <input id="every-3-months" name="subscription_cart" checked type="radio" value="3" />
    <label for="every-3-months" >Every 3 months</label></span><br /> 
  </p>     
  <small style="
  font-size: 12px;
">*Plans can be cancelled anytime prior to shipping.</small></div>

{% endcapture %}  

{% assign subDescription =  "<b>On-Going Maintenance Plans for Healthy Aging through Cell Rejuventation</b>  
" %}
    
{% elsif v.title contains 'Bundle' %}
{% assign title = '<h3 class="title-line do-add-to-cart"     style="
background: #c535a3b3; color:black;
">Ultimate Fasting 
</h3>' %} 
 
 
{% assign message =  "3 Boxes of ProLon -<b> Bundle & Save</b>" %}
{% assign price_class =  "green-price" %}
 
{% assign description =  "Enjoy 5 days of Fasting Mimicking Diet for three consecutive months and enjoy all the benefits ProLon has to offer. <b>Receive 3 boxes together - enjoy great savings & greater results</b>" %}
{% assign subDescription =  "<b>Reset With This Ultimate Fasting Plan to Support Metabolic Health and Healthy Aging</b>" %}
     
{% else %}  
{% assign title = '<h3 class="title-line do-add-to-cart"    style="
 color:black;
">Perfect For First Time Faster
</h3>' %}
{% assign message =  "Single box order" %}
{% assign price_class =  "" %} 

{% assign description =  " Order ProLon as a trial and see what all the buzz is about.
You’ll discover delicious foods that help keep you energized while giving your body many of the benefits of a 5-day fast. See how great you feel after doing just one cycle of ProLon!" %}
{% assign subDescription =  "<b>With benefits of Healthy Aging and Metabolic Health, jumpstart your health journey</b> 
" %}    
      
{% endif %}
  
<div class="single-product-wrapper" data.option="{{v.option1}}" data-v="{{v.id}}">
    {{title}} 
<i class="sub-heading do-add-to-cart">
{{message}}
</i>  
<div class="price-box do-add-to-cart tez 32">  
     
    <p class="main-price {{price_class}}">

        <s class="compare-at-price "> 
            {% if message contains 'Fasting' %}    
            $747
            {% else %}
          <!--  v.compare_at_price {{v.compare_at_price}}-->
          {% assign bcompare = v.compare_at_price | money_without_trailing_zeros %}
          {% if v.metafields.my_fields.compare_at_price_frontend %}
          {% assign frontend_compare_at_p =  v.metafields.my_fields.compare_at_price_frontend | times:100 | money_without_trailing_zeros %}
          {% endif %}  
          {% assign compare_at_p = frontend_compare_at_p  | default:  bcompare %}
          <!-- frontend_compare_at_p {{frontend_compare_at_p}} -->
          {{compare_at_p }}
          
        
            {% endif %}
        </s> 
        {{v.price |  money_without_trailing_zeros}}</p>
        {% if v.title contains '3 Box Bundle & Save' %}
        <small>3 Box Bundle</small>
        {% else %}
        <small>per box</small>
        {% endif %}
</div>
<div class="ribbon" > 
{{ribbon}}  
<img src="{{v.image | img_url:'1000x' }}" class="do-add-to-cart" />
</div> 


<div class="description">
   {{description}}
</div>
 
<div class="sub-desc do-add-to-cart">
    {{subDescription}}
</div>

<div class="add-to-cart-section ">
   
    <div class="choose-flavor " > 
        <div class="variant-input" data-index="option1" > 
            <span><input id="original-flavor-{{v.id}}" name="variant-{{v.id}}-flavor" type="radio" checked  class="flavor-type" value="Original" />
            <label for="original-flavor-{{v.id}}">Original</label>
        </span><span>
            <input id="new-flavor-{{v.id}}"  type="radio" name="variant-{{v.id}}-flavor"  class="flavor-type" value="New Flavors" />
            <label for="new-flavor-{{v.id}}">New Flavors</label>
        </span> 
        </div>

    </div>
    <div class="flavour-description"></div>

    <a data-variant-id="{{v.id}}"  data-option-2="{{v.option2}}" class="select-product-and-process pointer site-nav__link site-nav__link--underline">
        <span class="btn">Add To Cart</span>
      </a> 

</div> 

</div> 
{% endunless %}
{% endfor %}



</div>