{% assign variantPrice = product.selected_or_first_available_variant.price %}
{%- liquid
  if section.settings.theme_option == 'theme_orange'
    assign title_class = 'text-2xl  font-avenir  text-gray-900 sm:text-3xl'
    assign price_class = 'font-bold text-gray-900 text-md'
    assign option_title_class = 'text-label  block text-sm  text-gray-700'
    assign option_button_class = 'relative flex-1 block rounded-md p-2 border cursor-pointer overflow-hidden md:p-4 focus:outline-none single-product-option border-gray-300 bg-white text-xs md:text-sm'
    assign option_button_selected_class = ' z-10 border-orange-300 bg-orange-50 opacity-100'
    assign add_to_cart_class = 'add_to_cart_classasdfasd'
  else
    assign title_class = 'text-2xl font-bold text-gray-900 sm:text-3xl font-avant'
    assign price_class = 'font-bold text-gray-900 text-md'

    assign option_title_class = 'text-label  block font-bold font-avant text-lg text-prolon_dark_primary uppercase'

    assign option_button_class = 'bg-[#f9fff2] bg-white block border border-gray-300 cursor-pointer flex-1 focus:outline-none font-interCondensed  p-2 relative  single-product-option text-center text-sm text-prolon_dark_primary'

    assign option_button_selected_class = 'ring-prolon_green z-10 border-prolon_green ring-1 bg-[#f9fff2] opacity-100'

    assign add_to_cart_class = 'add_to_cart_classasdfasd'
  endif
-%}

<script type="text/javascript" class="blocks-data">
    window.productSection = {{section.settings | json}}
    window.productSection.blocks = [
    {%- for block in section.blocks -%}
     {{-block.settings | json -}}
    {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ];
</script>

{% liquid
  assign product_handle = section.settings.product
  if product_handle and product_handle != ''
    assign product = all_products[product_handle]
  endif
%}

<!-- product {{product.handle }} -> {{product_handle}} -->
{% render 'ck-product-option-1-css',
  option_button_class: option_button_class,
  option_button_selected_class: option_button_selected_class
%}

<div class="font-avenir {{section.settings.custom_css_class}}" id="ck-product-form">
  <div class="px-4 py-4 mx-auto sm:py-4 sm:px-6 lg:max-w-container lg:px-8">
    <div class="lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16">
      <div class="lg:col-span-4 lg:row-end-1">
        <div class="flex flex-col">
          <div class="w-full border  aspect-w-1 aspect-h-1">
            <div>
              <img
                alt="Product image"
                loading="eager"
                class="w-full"
                :class="{ 'opacity-50': imageLoading }"
                sizes="(min-width: 64em) 60vw, (min-width: 48em) 50vw, 90vw"
                src="{{product.featured_image | img_url: '480x480'}}"
                width="800"
                height="800"
                ref="productImage"
                @load="imageLoading=false"
                srcset="
                  {{product.featured_image | img_url: '480x480'}} 480w,
                  {{product.featured_image | img_url: '960x960'}} 960w,
                  {{product.featured_image | img_url: '1440x1440'}} 1440w,
                  {{product.featured_image | img_url: '1920x1920'}} 1920w,
                  {{product.featured_image | img_url: '2560x2560'}} 2560w,
                  {{product.featured_image | img_url: '3840x3840'}} 3840w
                "
                decoding="async"
              >
            </div>
          </div>
          <!-- section.settings.below_image -->
          {{ section.settings.below_image }}
        </div>
        <div class="justify-center hidden gap-2 mt-5 md:flex md:mt-11 md:gap-4"><div class=""><img src="//prolonlife.com/cdn/shop/files/4.4_Stars_1200x.png?v=1724927753" class="md:w-[115px] w-[70px]" alt=""></div><div class=""><img src="//prolonlife.com/cdn/shop/files/Clinical_Trials_1200x.png?v=1724927752" class="md:w-[115px] w-[70px]" alt=""></div><div class=""><img src="//prolonlife.com/cdn/shop/files/Patented_1200x.png?v=1724927748" class="md:w-[115px] w-[70px]" alt=""></div><div class=""><img src="//prolonlife.com/cdn/shop/files/Partners_1200x.png?v=1724927747" class="md:w-[115px] w-[70px]" alt=""></div></div>
      </div>
      <div class="w-full max-w-2xl mx-auto mt-4 sm:mt-16 lg:col-span-5 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none product-details lg:sticky lg:-top-[90px]  lg:max-h-[1600px] mh900:top-[100px]">
        <div class="flex flex-col-reverse">
          <div class="scalapay-notice">
            <p>
              o 3 rate da
              <span v-text="InstallementsPrice">{{ current_variant.price | divided_by: 3 | money }}</span> senza
              interessi con
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  width="100"
                  height="18.4"
                  baseProfile="tiny"
                  overflow="visible"
                >
                  <path d="M0 6.9c.1-.4.3-.7.6-1l2.1-2.1c.5-.5 1.4-.5 1.9 0l1.8 1.8c.4.4 1 .4 1.4 0 .7-.5 1.2-1.1 1.8-1.7.5-.5 1.4-.5 1.9 0 .8.7 1.5 1.5 2.2 2.2.6.6.6 1.3 0 1.9L11 11c-1.1 1.2-2.1 2.4-3.2 3.6-.5.5-1.1.5-1.5 0L.3 8c-.1-.2-.2-.5-.3-.7v-.4zm69 11.5h-2.5v-14h2.4v.7s0-.1.1-.1c1.3-.9 2.7-1.1 4.2-.6 1.6.6 2.6 1.9 2.9 3.5.3 1.4.1 2.7-.7 3.9-.9 1.4-2.3 2.1-4 2.1-.8 0-1.6-.2-2.3-.7 0 0-.1-.1-.2-.1.1 1.8.1 3.5.1 5.3zm0-9.3v1.3c0 .1 0 .2.1.3.3.4.8.7 1.3.9 1 .3 1.9.2 2.6-.5.7-.6.9-1.4.8-2.3-.1-.8-.5-1.5-1.2-1.9-1.1-.6-2.6-.2-3.4.8-.2-.1-.2 0-.2.1v1.3zm16.2-4v-.7h2.4v9.4h-2.4v-.7h-.1c-1.1.8-2.3 1.1-3.6.8-1.9-.4-3.4-2-3.6-3.9-.2-1.4.1-2.7.9-3.9 1.4-1.8 3.9-2.4 5.8-1.2.2-.1.4.1.6.2zm-.1 4V7.8c0-.1 0-.2-.1-.2-.2-.2-.4-.4-.7-.6-.8-.5-1.7-.7-2.6-.3-1.7.8-1.8 3.1-.6 4.2 1.1 1.1 3.1.9 3.9-.4 0-.1.1-.1.1-.2V9.1zm-21.6 4.7h-2.4v-.7c-.3.2-.6.4-.8.5-1.3.6-2.7.5-3.9-.1-1.6-.8-2.4-2.2-2.6-4-.1-1.3.2-2.5 1-3.5 1.4-1.8 3.8-2.3 5.8-1.2.2.1.3.2.5.3v-.7h2.4v9.4zM61 9.1V7.8c0-.1 0-.2-.1-.3-.3-.4-.8-.7-1.3-.9-.9-.3-1.8-.3-2.5.4-.7.6-1 1.4-.9 2.3.1.6.3 1.2.8 1.6 1.1 1 2.9.8 3.9-.3.1-.1.1-.2.1-.4V9.1zm-17.3-4v-.7h2.4v9.4h-2.4v-.7c-.2.1-.4.3-.6.4-.8.5-1.8.6-2.7.5-2.3-.4-3.9-2.2-4.1-4.5-.1-1.4.3-2.7 1.2-3.7.9-1 2.1-1.5 3.4-1.5 1 0 1.8.3 2.6.8.1-.1.1 0 .2 0zm-.1 4V7.8c0-.1 0-.2-.1-.2-.3-.3-.6-.6-1-.8-.8-.4-1.6-.4-2.3 0-1 .5-1.4 1.4-1.3 2.6 0 .6.3 1.2.8 1.7 1.1 1 3 .8 3.9-.4 0-.1.1-.1.1-.2-.1-.6-.1-1-.1-1.4zm45.7-4.7h2.6c.1 0 .2 0 .3.2.8 1.7 1.6 3.4 2.5 5.2 0 .1.1.1.1.2 0-.1.1-.1.1-.2.8-1.8 1.6-3.5 2.4-5.3.1-.1.1-.2.3-.2h2.5c0 .1 0 .1-.1.2-2.1 4.6-4.2 9.2-6.3 13.7-.1.1-.1.2-.2.2H91c0-.1.1-.1.1-.2.8-1.7 1.6-3.5 2.4-5.2.1-.1 0-.2 0-.3-1.3-2.7-2.7-5.4-4-8.1-.2-.1-.2-.2-.2-.2zm-56.1 6c.6.5 1.3 1 1.9 1.5-.3.4-.7.8-1.1 1.1-1.1.8-2.3 1.1-3.7 1-1.2-.1-2.2-.5-3.1-1.3-1.2-1.4-1.7-3-1.2-4.8.4-1.8 1.6-3 3.4-3.5 1.6-.5 3.1-.2 4.5.7.4.3.7.6 1 .9-.6.5-1.2 1-1.8 1.6 0-.1-.1-.1-.1-.1-.9-1-2.3-1.3-3.4-.6-.8.5-1.1 1.2-1.2 2.1 0 1.3.8 2.3 2 2.5 1.1.2 2-.1 2.7-1 0 .1 0 0 .1-.1 0 .1 0 0 0 0zm-15.3.5c.6.5 1.4.8 2.2.9.3 0 .7 0 1-.1.1 0 .1-.1.2-.1.5-.3.5-.8.1-1.1-.3-.2-.6-.3-.9-.4-.6-.3-1.3-.5-1.9-.7-.5-.2-1-.6-1.2-1.1-.5-.9-.3-2.1.4-2.9.6-.6 1.4-1 2.3-1.1 1.3-.2 2.6.1 3.7.8l.1.1L22.7 7c-.4-.2-.7-.4-1-.5-.6-.2-1.2-.2-1.7.1-.5.3-.5.8 0 1 .4.2.8.3 1.2.5.7.2 1.3.5 1.9.8 1.4.9 1.5 2.9.3 4-.7.6-1.4.9-2.3 1-1.6.2-3-.3-4.4-1.2l1.2-1.8zM49.1 0h2.5v13.7h-2.5V0z"/>
                </svg>
              </span>
            </p>
          </div>
          <div class="mt-4">
            <h1
              class="{{title_class}}"
              v-text="getProductTitle(`{{product.title}}`)"
            >
              {{ product.title }}
            </h1>
            <h2 id="information-heading" class="sr-only">Product information</h2>
            <span class="{{price_class}}" v-text="selectedPrice">{{ variantPrice | money }}</span>
            <s
              class="font-bold ml-2 text-gray-500 text-md"
              v-if="selectedCompareAtPrice"
              v-text="selectedCompareAtPrice"
            >
              {{- product.compare_at_price -}}
            </s>
          </div>
          {% if section.settings.show_reviews %}
            <!-- TrustBox widget - Micro Star -->
                    <div id="tp-custom-box" class="trustpilot-widget" data-locale="it-IT" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5c46dc3e20d18f000126579a" data-style-height="24px" data-style-width="100%" data-font-family="Open Sans">
                      <a href="https://it.trustpilot.com/review/prolon.it" target="_blank" rel="noopener">Trustpilot</a>
                    </div>
            <!-- End TrustBox widget -->
          {% endif %}
        </div>

        {% if section.settings.show_description %}
          <div
            class="mt-4"
            v-cloak
            v-html="getProductDescripton(product.description)"
          ></div>
        {% endif %}

        <div class="mt-2 lg:col-start-1 lg:row-start-2 lg:self-start">
          <section aria-labelledby="options-heading">
            <h2 id="options-heading" class="sr-only">Product options</h2>
            {% render 'ck-product-option-life',
              option_button_class: option_button_class,
              option_title_class: option_title_class,
              add_to_cart_class: add_to_cart_class,
              bgColorSelected: bgColorSelected,
              product: product
            %}
          </section>
        </div>
          <tolstoy-stories data-tags="{% for tag in product.tags -%}{{ tag }},{%- endfor %}" class="tolstoy-stories" data-publish-id="5n15n956jo518" data-product-id="{{ product.id }}"> </tolstoy-stories>
      </div>
    </div>
  </div>
</div>

<script>
  {% assign selected_variant = product.selected_or_first_available_variant  %}
  window.default_variant = {{ selected_variant | json }};
  {% for v in product.variants %}
    {% assign option1 = v.option1 | downcase %}
    {% assign option2 = v.option2 | downcase %}
    {% assign option3 = v.option3 | downcase %}
    {% if option1 contains 'subscri' or option2 contains 'subscri' or option3 contains 'subscri'  %}
      {% assign selected_variant = v %}
      {% break %}
    {% endif %}
  {% endfor %}
  window.currentProduct= {{product  | json}};

  window.selectedVariant = {{ selected_variant | json }}
  var url = new URL(location.href);
  var variantId = url.searchParams.get("variant");
  if(variantId && variantId!=''){

    window.selectedVariant = window.currentProduct.variants.find(function(variant){
      return variant.id == variantId;
    })
    if(!window.selectedVariant){
      window.selectedVariant = window.default_variant;
    }
  }


  window.compare_at_prices = {
    {%- for v in product.variants -%}
      {% assign compare_at_price = v.compare_at_price %}
      {% if v.metafields.my_fields.compare_at_price_frontend %}
        {% assign compare_at_price = v.metafields.my_fields.compare_at_price_frontend |times:100 %}
      {% endif %}
      "{{v.id}}" :{{ compare_at_price | json }}
      {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
</script>
{% render 'product-extra-scripts', product: product %}
<script src="{{'ck-components.js' | asset_url }}" defer></script>
<script src="{{'ck-product-options.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "ProLon Product Section",

  "settings": [
    {
      "type": "text",
      "id": "custom_css_class",
      "label": "Custom Css Class"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "info": "Select a product to display. Default will be the page product"
    },
    {
      "type": "select",
      "id": "theme_option",
      "label": "Theme Option",
      "default": "theme_orange",
      "options": [
        {
          "label": "Theme 1 - Orange",
          "value": "theme_orange"
        },
        {
          "label": "Theme 2 - Green",
          "value": "theme_green"
        },
        {
          "label": "Theme 3 - Brown",
          "value": "theme_brown"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Description"
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show Reviews"
    },
    {
      "type": "checkbox",
      "id": "show_whatsapp",
      "label": "Show Whatsapp Button"
    },
    {
      "type": "checkbox",
      "id": "custom_product_title",
      "label": "Custom Product Title By Variants"
    },
    {
      "type": "html",
      "id": "product_sub_line",
      "label": "Product Sub title"
    },
    {
      "type": "checkbox",
      "id": "show_subscription",
      "label": "Show Subscription Widget Seperately"
    },
    {
      "type": "liquid",
      "id": "below_image",
      "label": "Below Image Section"
    },
    {
      "type": "text",
      "id": "coupon_code",
      "label": "Promote Coupon"
    },
    {
      "type": "html",
      "id": "coupon_text",
      "label": "Promote Coupon text"
    },
    {
      "type": "header",
      "content": "Product Design"
    },
    {
      "type": "text",
      "id": "option_1_name",
      "label": "Option 1 name"
    },
    {
      "type": "select",
      "id": "option_1",
      "label": "Option 1",
      "default": "button",
      "options": [
        {
          "label": "Block Buttons",
          "value": "button"
        },
        {
          "label": "Block Buttons With Images",
          "value": "image-button"
        },
        {
          "label": "Radio Buttons",
          "value": "radio-button"
        },
        {
          "label": "Multiple Option Buttons",
          "value": "multi_button"
        }
      ]
    },
    {
      "type": "text",
      "id": "option_2_name",
      "label": "Option 2 name"
    },
    {
      "type": "select",
      "id": "option_2",
      "label": "Option 2",
      "default": "button",
      "options": [
        {
          "label": "Block Buttons",
          "value": "button"
        },
        {
          "label": "Block Buttons With Images",
          "value": "image-button"
        },
        {
          "label": "Radio Buttons",
          "value": "radio-button"
        }
      ]
    },
    {
      "type": "text",
      "id": "option_3_name",
      "label": "Option 3 name"
    },
    {
      "type": "select",
      "id": "option_3",
      "label": "Option 3",
      "default": "button",
      "options": [
        {
          "label": "Block Buttons",
          "value": "button"
        },
        {
          "label": "Block Buttons With Images",
          "value": "image-button"
        },
        {
          "label": "Radio Buttons",
          "value": "radio-button"
        },
        {
          "label": "Subscription Widget",
          "value": "subscription-widget"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "html",
      "name": "Customize Option",
      "settings": [

        {
          "type": "text",
          "id": "title",
          "label": "Display Name"
        },
        {
          "type": "checkbox",
          "id": "hide_option",
          "label": "Hide Option"
        },
        {
          "type": "header",
          "content": "Filter Product"
        },
        {
          "type": "text",
          "id": "option_1",
          "label": "Option 1 Name",
          "info": "Use option Name as defined in the product"
        },
        {
          "type": "text",
          "id": "option_2",
          "label": "Option 2 Name",
          "info": "Use option Name as defined in the product"
        },
        {
          "type": "text",
          "id": "option_3",
          "label": "Option 3 Name",
          "info": "Use option Name as defined in the product"
        },
        {
          "type": "header",
          "content": "Select Product"
        },
        {
          "type": "select",
          "id": "for_option",
          "label": "For Product Option",

          "options": [
            {
              "label": "Option 1",
              "value": "1"
            },
            {
              "label": "Option 2",
              "value": "2"
            },
            {
              "label": "Option 3",
              "value": "3"
            }
          ]
        },
        {
          "type": "html",
          "id": "custom_name",
          "label": "Custom Option Name"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Option Image"
        },

        {
          "type": "html",
          "id": "custom_description",
          "label": "Option Description"
        },

        {
          "type": "html",
          "id": "product_description",
          "label": "Product Description"
        }
      ]
    },
    {
      "type": "faq",
      "name": "Faq",
      "settings": [

        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "html",
          "id": "description",
          "label": "Description"
        },
         {
          "type": "page",
          "id": "page",
          "label": "Description from page"
        }
      ]
    }

  ],
  "presets": [
    {
      "name": "ProLon Product Section - Design 1"
    }
  ]
}
{% endschema %}
