<style>
.main-wrapper.new-rae-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
    .home-main-banner-new {
      position: relative;
      width: 100%;
    }
    .home-main-banner-new img {
      width: 100%;
    }
    .home-main-banner-new.brown-lashes-banner {
      margin-bottom: 80px;
  }
    @media (min-width: 767px) {
      .home-content-wrapper {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 95%;
        right: 10%;
    }
      .only-mb {
        display: none;
      }
      .home-content span {
        font-size: 50px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: unset;
      }
      .home-content p {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 25px;
      }
      .mini-des {
        font-size: 14px;
      }
  
      .Featured_product {
        padding: 2.5rem 3.5rem;
      }
    }
    .shop-btn {
      transition: all 0.15s linear 0s;
      background-color: #333333;
      color: white;
      text-decoration:none;
      text-transform: unset;
      cursor: pointer;
      margin-top: 55px;
      width: 173px;
      height: 50px;
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 1px;
      justify-content: center;
      border-radius:40px;
    }
    .shop-btn:hover {
      color:white
    }
    @media (max-width: 767px) {
      .only-dp {
        display: none;
      }
      .shop-btn{
        margin-top:30px;
      }
      .only-mb {
        width: 100%;
      }
      .desktop-only {
        display: none;
      }
      .home-content span {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom:10px;
      }
      .home-content p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      }
      .mini-des {
        font-size: 14px;
      }
      .main-wrapper {
        display: flex;
        flex-direction: column;
      }
      .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 55px 10px;
        position: static;
      }
      .Featured_product {
        padding: 2.5rem 1rem;
      }
    }
    @media (max-width: 767px) {
      .display-none {
        display: none;
      }
      
      .sec-bg-apply {
        background-color: #fedcd2;
      }
    }
  
    @media (max-width: 1050px) and (min-width: 768px) {
      .home-content {
        left: 25%;
      }
      .home-content span {
        font-size: 25px;
      }
      .home-content p {
        font-size: 15px;
      }
      .shop-btn {
        font-size: 14px;
      }
    }
  
  
  @media(max-width:767px){
    .mobile_none_break{
        display:none;
    }
    .home-content-wrapper{
        position: absolute;
        bottom: 0px;
    }
    .home-main-banner-new img {
      width: 100%;
      object-fit:cover;
      /* height:500px; */
    } 
    .home-main-banner-new{
        /* height:500px; */
        overflow:hidden;
    }
    .home-content-wrapper{
      margin:0 auto;
      width:100%;
    }
    .top{
      top:0px!important;
      bottom:unset;
    }
    .shop-btn{
      margin:0 auto;
      margin-top:45px!important;
    }
    .mb-hidden{
      display:none;
    }
    }
  
  
  @media (min-width: 767px) {
    .left{
      justify-content:flex-start!important;
      right:-40px!important;
    }
    .right-text{
      justify-content:flex-end!important;
      left:0px!important;
    }
    /* .home-content span{
      font-weight: 700;
    } */
  }
  .bottom_space{
    margin-bottom: 20px;
  }
  
  
  
  @media (max-width:1330px) and (min-width:1008px){
  .main-wrapper.new-rae-banner .home-content-wrapper {
      right: 0px;
  }
  
  .home-content {
      max-width: 600px;
  }
  
  .main-wrapper.new-rae-banner .home-content span {
      font-size: 4.1vw;
  }
  
  .main-wrapper.new-rae-banner .home-content {
      font-size: 16px;
      padding-right: 10px;
  }
  
  .main-wrapper.new-rae-banner .home-content p {
      font-size: 20px;
  }
  
  }
  
  
  
  @media (max-width:1007px) and (min-width:768px){
  .main-wrapper.new-rae-banner .home-content-wrapper {
      right: 0px;
  }
  
  .home-content {
      max-width: 50%;
  }
  
  .main-wrapper.new-rae-banner .home-content span {
      font-size: 4.1vw;
  }
  
  .main-wrapper.new-rae-banner .home-content {
      font-size: 16px;
      padding-right: 10px;
  }
  
  .main-wrapper.new-rae-banner .home-content p {
      font-size: 16px;
  }
  
  .main-wrapper.new-rae-banner .home-content p {
      padding-top: 0px;
      margin-top: 0px;
  }
  
  .main-wrapper.new-rae-banner .shop-btn {
      margin-top: 30px;
  }
  }
  </style>
  <a {% if section.settings.load_url %} href="{{section.settings.load_url}}" {% endif %}>
  <div class="main-wrapper new-rae-banner {{section.settings.custom_class}}">     
      <div class="home-main-banner-new cursor-pointer ">  
        <img class="only-dp" src="{{section.settings.dp_imgurl | img_url:'3000x'}}">
        <img class="only-mb" src="{{section.settings.mb_imgurl | img_url:'3000x'}}">
        <div class="home-content-wrapper {% if section.settings.show_right %} right-text {% else %}left {% endif %} {% if section.settings.mobil_top %} top {% endif %}">
        <div class="home-content" style="color:{{section.settings.main_color}}!important">
        {{section.settings.content_load}}
        </div>
      </div>
      </div> 
    </div>
</a>
    {% schema %}
    {
      "name": "Editable banner",
      "settings": [
      {
        "type": "url",
        "id": "load_url",
        "label": "Url"
     },
      {
          "type": "image_picker",
          "id": "dp_imgurl",
          "label": "Desktop Image"
      },
      {
          "type": "image_picker",
          "id": "mb_imgurl",
          "label": "Mobile Image"
      },
      {
          "type": "checkbox",
          "id": "show_right",
          "label": "Desktop content position right",
          "default": false
        }, 
        {
          "type": "checkbox",
          "id": "mobil_top",
          "label": "Mobile content position top",
          "default": false
        }, 
        {
            "type": "color",
            "id": "main_color",
            "label": "Content Color"
          },
          {
              "type": "html",
              "id": "content_load",
              "label": "Content"
          },
          {
              "type": "html",
              "id": "custom_class",
              "label": "Custom class"
          }
      ],
      "presets": [
          {
              "name": "Editable Banner"
          } 
      ]
  }
    {% endschema %}