<style>
  .grid {
    display: grid !important;
  }
</style>
{%- assign data = section.settings -%}

<div id="{{data.data_id}}" class="pl-wrapper pl-wrapper-features py-12 md:py-12 md:pt-0 bg-white px-[20px] max-w-[1600px] mx-auto">
  {%- if data.main_title -%}
    <h2
      class=" font-normal leading-[1.2] max-w-[1200px] lg:text-[40px] mx-auto pb-[50px] md:text-[30px] text-center w-full z-10 px-8"
    >
      {{ data.main_title }}
    </h2>
  {%- endif -%}

  <div class="flex items-center flex-col flex-wrap lg:flex-nowrap{% if data.text_on_left %} md:flex-row{% else %} md:flex-row-reverse{% endif %}">
    <div class="w-full lg:w-[40%] md:px-[20px] mb-[40px] lg:mb-0">
      <span class="inline-block py-px px-[20px] mb-[15px] text-xs leading-5 text-white bg-[#73994a] font-medium uppercase hero__animation-contents  !delay-100">
        {{ data.subtitle }}
      </span> 
      <h2 class="mb-[20px] text-[30px] md:text-[40px] leading-[1.2] font-normal hero__animation-contents !delay-200">
        {{ data.title }}
      </h2>
      <p
        class="mb-[20px] text-[16px] md:text-[18px] text-black font-normal hero__animation-contents !delay-500"
      >
        {{ data.description }}
      </p>
      {% assign button_blocks = section.blocks | where: 'type', 'buttons' %}

      <div class="flex flex-wrap md:flex-nowrap  pt-[20px] hero__animation-contents !delay-700">
        {%- for button in button_blocks -%}
          <div
            class="w-full md:w-[47%] py-1 md:py-0 md:mr-4"
            aria-label="{{button.settings.title}}"
          >
            <a
              class="inline-block py-[10px] px-7 w-full text-base md:text-lg leading-4 font-medium text-center rounded-md shadow-sm hover:{{button.settings.bg_color}} {{button.settings.bg_color}} {{button.settings.text_color}} border border-gray-300"
              href="{{button.settings.url}}"
              aria-label="{{button.settings.title}} "
            >
              {{ button.settings.title }}
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="w-full lg:w-[60%] md:px-[20px]">
      <div class="relative mx-auto md:mr-0  overflow-hidden  justify-center items-stretch gap-[10px] grid grid-cols-1 md:grid-cols-2">
        <div class="!w-full relative">
          {%- if data.image_1_title -%}
            <div class="text-[16px] md:text-[18px] pb-[10px] text-black w-full text-left">
              {{ data.image_1_title }}
            </div>
          {%- endif -%}
          <img
            class="relative !h-full !w-full max-h-[585px] object-cover !delay-300 hero__animation-contents object-bottom xlazyload"
            loading="lazy"

            data-src="{{data.image_1 | img_url: '445x'}}"
            src="{{data.image_1 | img_url: '100x'}}"
            alt="Feature Image 1"
            width="443"
            height="585"
          >
          <div class="absolute bottom-[20px] left-0 w-full">
            {% assign first_image_description = section.blocks | where: 'type', 'first_image_description' %}

            <ul class="w-full">
              {%- for item in first_image_description -%}
                {%- assign transDelay = foorloop.index | times: 0.5 | plus: 1.5 -%}

                <li
                  class="w-full border-b border-white px-[20px] py-[10px] flex justify-start hero__animation-contents  items-center"
                  style="transition-delay: {{transDelay}}s"
                >
                  <img
                    class="w-[25px] h-[25px]"
                    src="{{item.settings.image | img_url: '25x'}}"
                    alt="{{item.settings.text}}"
                    loading="lazy"
                  >
                  <span class="px-[10px] text-white font-semibold">
                    {{ item.settings.text }}
                  </span>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
        <div class="!w-full relative mt-[20px] md:mt-[0px]">
          {%- if data.image_2_title -%}
            <div class="text-[16px] m:mt-[20px] md:text-[18px] pb-[10px] text-black w-full text-left">
              {{ data.image_2_title }}
            </div>
          {%- endif -%}
          <img
            class="relative !h-full !w-full max-h-[585px] object-cover   !delay-[.52s] hero__animation-contents object-bottom xlazyload"
            loading="lazy"

            data-src="{{data.image_2 | img_url: '445x'}}"
            src="{{data.image_2 | img_url: '100x'}}"
            width="445"
            height="585"
            alt="Feature Image 2"
          >
          <div class="absolute bottom-[20px] left-0 w-full">
            {% assign second_image_description = section.blocks | where: 'type', 'second_image_description' %}

            <ul class="w-full">
              {%- for item in second_image_description -%}
                {%- assign transDelay = foorloop.index | times: 0.5 | plus: 2.5 -%}
                <li
                  class="w-full border-b border-white px-[20px] py-[10px] flex justify-start hero__animation-contents  items-center"
                  style="transition-delay: {{transDelay}}s"
                >
                  <img
                    class="w-[25px] h-[25px]"
                    src="{{item.settings.image | img_url: '100x'}}"
                    alt="{{item.settings.text}}"
                  >
                  <span class="px-[10px] text-white font-semibold">
                    {{ item.settings.text }}
                  </span>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    addClassInViewSequentially('pl-wrapper-features');
  });
</script>

{% schema %}
{
  "name": "PL Features",
  "settings": [
    {
      "type": "text",
      "id": "data_id",
      "label": "Section ID",
      "default": "the-research"
    },
    {
      "type": "textarea",
      "id": "main_title",
      "label": "Main Title"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "<b>Why stay younger</b> than your age? "
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Title",
      "default": "Why Prolon"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Close to 90% of humans will die from one of four age related conditions: Diabetes, Cancer, Cardiovascular and Alzheimer's diseases. When your cells and metabolism get older, you lose the power of rejuvenation and healing, and become prone to these conditions. Between age 40 and 70 you start experiencing aging symptoms with muscle mass loss, weight gain, mood and focus change, blood sugar, blood pressure, cholesterol, inflammaging, skin changes, etc.<br /><br /> ProLon helps you create years of difference between your chronological age and biological age so that you stay healthy today and delay the onset of age-related conditions. Read the scientific articles here."
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "checkbox",
      "id": "text_on_left",
      "label": "Text On Left",
      "default": true
    },
    {
      "type": "text",
      "id": "image_1_title",
      "label": "Image 1 Title",
      "default": "Healthy aging benefits"
    },
    {
      "type": "text",
      "id": "image_2_title",
      "label": "Image 2 Title",
      "default": "Social & emotional benefits"
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "5-Day Fasting Nutrition"
        },
        {
          "type": "text",
          "id": "url",
          "label": "Url",
          "default": "#shop-programs"
        },
        {
          "type": "text",
          "id": "bg_color",
          "label": "Bg Color",
          "default": "bg-[#77A117] hover:bg-[#77A117]"
        },
        {
          "type": "text",
          "id": "text_color",
          "label": "Text Color",
          "default": "text-white"
        }
      ]
    },
    {
      "type": "first_image_description",
      "name": "First Image Description",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Cellular Rejuvenation"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "second_image_description",
      "name": "Second Image Description",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Cellular Rejuvenation"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PL Stats  Features",
      "blocks": [
        {
          "type": "buttons",
          "settings": {
            "title": "5-Day Fasting Nutrition",
            "url": "#shop-programs",
            "bg_color": "bg-[#77A117] hover:bg-[#77A117]",
            "text_color": "text-white"
          }
        },
        {
          "type": "buttons",
          "settings": {
            "title": "Daily Longevity Nutrition",
            "url": "#shop-products",
            "bg_color": "bg-[#F7F9FB] hover:bg-[#F7F9FB]",
            "text_color": "text-black"
          }
        },
        {
          "type": "first_image_description",
          "settings": {
            "text": "Cellular Rejuvenation"
          }
        },
        {
          "type": "first_image_description",
          "settings": {
            "text": "Metabolic Health"
          }
        },
        {
          "type": "first_image_description",
          "settings": {
            "text": "Fat-Focused Weight Loss"
          }
        },
        {
          "type": "first_image_description",
          "settings": {
            "text": "Lean Muscle Protection"
          }
        },
        {
          "type": "first_image_description",
          "settings": {
            "text": "Healthier, younger skin"
          }
        },
        {
          "type": "second_image_description",
          "settings": {
            "text": "Clarity & Focus"
          }
        },
        {
          "type": "second_image_description",
          "settings": {
            "text": "Confidence & Success"
          }
        },
        {
          "type": "second_image_description",
          "settings": {
            "text": "Overall Sense of Well-being"
          }
        }

      ],
      "category": "Advanced layout"
    }
  ]
}
{% endschema %}
