<style>
    .fadeinout-unique {
        animation: fadeinout-unique 3s infinite;
    }

    @keyframes fadeinout-unique {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }

        10% {
            opacity: 1;
            transform: scale(1);
        }

        90% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.9);
        }
    }
</style>

<section class="">
    <div class="relative w-full h-full max-h-[650px]">
        {% if section.settings.background_video != blank %}
        <video class="absolute top-0 left-0 z-0 object-cover w-full h-full" autoplay muted loop playsinline>
            <source src="{{ section.settings.background_video }}" type="video/mp4">
        </video>
        {% elsif section.settings.background_image %}
        <div class="absolute top-0 left-0 z-0 w-full h-full my-bg-position bg-no-repeat bg-cover"
            style="background-image: url('{{ section.settings.background_image | img_url: '2000x' }}')"></div>
        {% endif %}

        <div class="relative z-10">
            <div class="flex justify-start gap-4 px-4 md:block">
                <div class="flex items-center justify-center md:hidden">
                    <div class="w-[2px] h-full bg-white"> </div>
                </div>

                <div
                    class="max-w-[370px] h-[540px] md:pt-10 md:pb-0 pt-12 pb-7 md:h-[800px] md:max-w-[900px] md:mx-auto text-white gap-4 flex flex-col justify-between md:justify-center md:px-[25px]">
                    <div class="flex flex-col gap-4 ">
                        <h1
                            class="text-[28px] md:text-[50px] text-left md:text-center text-white leading-[1.2] font-[500]">
                            {{ section.settings.heading }}
                        <span id="fadeTextDesktopUnique" class="pb-[2px] pr-3 font-bold border-b-2  md:border-b-4 md:pb-2 md:px-3 fade-container fadeinout-unique"></span>

                        </h1>
                        <p
                            class="max-w-[490px] md:mt-2 md:mx-auto text-left md:text-center md:pt-[11px] text-[14px] md:text-[17px] leading-[1.2]">
                            {{ section.settings.subheading }}
                        </p>
                    </div>

                    {% if section.settings.button_text_2 == blank %}
                    <div class="flex items-center gap-4 justify-center pt-[16px] md:pt-[22px]">
                        <a href="{{ section.settings.button_link }}">
                            <span
                                class="uppercase px-[30px] md:px-[60px] py-[10px] md:py-[11px] bg-white rounded-full text-[#1D4035] font-[300] text-[12px] md:text-[17px]">
                                {{ section.settings.button_text }}
                            </span>
                        </a>
                    </div>
                    {% endif %}

                    {% if section.settings.button_text_2 != blank %}
                    <div class="flex-col justify-end gap-4 md:gap-8 md:justify-center md:flex ">
                        <div class="md:pt-[10px] md:flex-nowrap flex flex-wrap gap-2 w-full max-w-[420px] mx-auto ">
                            <div class="w-full">
                                <a class="prerender px-2 py-2 text-[14px] font-bold rounded-full flex justify-center items-center md:py-[10px] w-full leading-4 md:!font-[600] text-center hover:!text-[#263F36] shadow-sm bg-[#56A511] tracking-[0.03em] text-white border border-[#56A511]"
                                    href="{{ section.settings.button_link }}">
                                    {{ section.settings.button_text }}
                                </a>
                            </div>
                            <div class="w-full">
                                <a class="prerender px-2 py-2 text-[14px] font-bold rounded-full flex justify-center items-center md:py-[10px] w-full leading-4 md:!font-[600] text-center shadow-sm hover:text-white border bg-white tracking-[0.03em] border-white text-[#263F36] whitespace-nowrap"
                                    href="{{ section.settings.button_link_v2 }}">
                                    {{ section.settings.button_text_2 }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="items-center justify-center hidden md:flex">
                <div class="w-[2px] h-[90px] md:h-[132px] bg-[#56A511]"></div>
            </div>
        </div>
    </div>
</section>

<div class="w-[2px] mx-auto h-[106px] hidden bg-[#56A511] my-1"></div>

{% schema %}
{
"name": "pl home hero section",
"settings": [
{
"type": "url",
"id": "background_video",
"label": "Background Video URL (MP4)"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background Image (fallback)"
},
{
"type": "html",
"id": "html",
"label": "Strings"
},
{
"type": "textarea",
"id": "heading",
"label": "Heading",
"default": "Explore the benefits to help you <br> <span class='font-bold'>promote longevity</span>"
},
{
"type": "textarea",
"id": "subheading",
"label": "Subheading",
"default": "Backed by 25+ years of science, our patented nutrition<br> technology triggers cellular repair and rejuvenation"
},
{
"type": "url",
"id": "button_link",
"label": "Button Link"
},
{
"type": "text",
"id": "button_text",
"label": "Button Text",
"default": "EXPLORE NOW"
},
{
"type": "url",
"id": "button_link_v2",
"label": "Button Link 2"
},
{
"type": "text",
"id": "button_text_2",
"label": "Button Text 2"
}
],
"presets": [
{
"name": "pl home hero section"
}
]
}
{% endschema %}



<script>
    let strings = "{{ section.settings.html | join: ',' }}".split(',');

    let currentIndex = 0;

    const fadeTextDesktop = document.getElementById('fadeTextDesktopUnique');

    function showNextStringDesktop() {
        if (!fadeTextDesktop) return;
        fadeTextDesktop.classList.remove('fadeinout-unique');
        fadeTextDesktop.textContent = strings[currentIndex];
        currentIndex = (currentIndex + 1) % strings.length;
        void fadeTextDesktop.offsetWidth; // Trigger reflow
        fadeTextDesktop.classList.add('fadeinout-unique');
    }

    showNextStringDesktop();
    setInterval(showNextStringDesktop, 3000);
</script>