
{%- liquid
  if section.settings.theme_option == 'theme_orange'
    assign title_class = 'product-title text-2xl  font-avenir  text-gray-900 sm:text-3xl'
    assign price_class = 'font-bold text-gray-900 text-md'
    assign option_title_class = 'text-label  block text-sm font-medium text-gray-700'
    assign option_button_class = 'relative flex-1 block p-2 text-center border cursor-pointer overflow-hidden md:p-4 focus:outline-none single-product-option border-gray-300 bg-white text-xs md:text-sm'
    assign option_button_selected_class = ' z-10 border-orange-300 bg-orange-50 opacity-100'
    assign add_to_cart_class = 'add_to_cart_classasdfasd'
  else
    assign title_class = 'text-2xl font-bold text-gray-900 sm:text-3xl font-avant'
    assign price_class = 'font-bold text-gray-900 text-md'

    assign option_title_class = 'text-label  block font-bold font-avant text-lg text-prolon_dark_primary uppercase'

    assign option_button_class = 'bg-[#f9fff2] bg-white block border border-gray-300 cursor-pointer flex-1 focus:outline-none font-interCondensed  p-2 relative  single-product-option text-center text-sm text-prolon_dark_primary'

    assign option_button_selected_class = 'ring-prolon_green z-10 border-prolon_green ring-1 bg-[#f9fff2] opacity-100'

    assign add_to_cart_class = 'add_to_cart_classasdfasd'
  endif
-%}

<script type="text/javascript" class="blocks-data">
    window.productSection = {{section.settings | json}}
    window.productSection.blocks = [
    {%- for block in section.blocks -%}
     {{-block.settings | json -}}
    {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ];
</script>

<style>
  .product-description ul{
    padding-left: 30px;
  }
  .product-description ul li:before {
    background: url(https://cdn.shopify.com/s/files/1/0077/9023/1634/files/checked-icon.svg?v=1752054036);
    content: " ";
    background-size: contain;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    margin-left: -31px;
    margin-top: -3px;
}
select.style-select {
    appearance: none;
    width: 84px;
    font-weight: 600;
  }
  select.style-select:active,
  select.style-select:focus {
    border: none !important;
  }
  
  .option-variant {
    width: 100%;
    margin: 10px 0;
    border: 1px solid transparent;
    transition: .2s ease;
  }
  .option--select {
    border-radius: 6px;
    border: 1px solid rgba(115, 152, 74, 0.70);
    transition: .2s ease;
    color: #263F36;
;
  }
  .its-checked .option--select {
    border-radius: 6px;
    background: #56a511;
    color: #ffffff;
  }

  .splide__arrow {
    width: 46px;
    height: 46px;
    background: #ffffff4a;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0px 0px 5px 2px #acacac;
    box-sizing: border-box;
    transition: .2s ease;
  }

  .splide__arrow:is(:hover, :focus) {
    background: #8ab757;
  }
  .splide__arrow:is(:hover, :focus) svg {
    fill: #ffffff;
  }
  .splide__arrow:disabled {
    display: none;
  }
  .splide__arrow svg {
    fill: #8ab757;
  }
  .splide__arrow--prev {
    left: 5px;
  }

  .splide__arrow--next {
    right: 5px;
  }

  .option-0 {
    border: 1px solid #73994A80;
    border-radius: 6px;
  }

  .option--normal .flex.text-lg.flex-col-reverse.md\:flex-row.md\:gap-1.items-end.md\:pr-2 {
    color: gray;
  }

  .option--checked {
    border: 1.5px solid #73994A;
    background: #fff;
    background: #F9FFF2xx;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .custom-width {
    max-width: 90%;
  }
  .option--checked span.items-center.justify-center {
    position: relative;
  }
  .option--checked span.items-center.justify-center::before {
    background: url(https://cdn.shopify.com/s/files/1/0077/9023/1634/files/checked-icon.svg?v=1752054036);
    background-repeat: no-repeat;
    content: " ";
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    right: 0;
    left: 0;
  }
  .show--percentage {
    display: none;
    transition: .1s ease-out;
  }
  .option--checked .show--percentage {
    display: block;
  }
  @media screen and (width < 768px) {
    .header-wrapper {
      z-index: 21;
      position: relative;
    }
    .move--up {
      margin-top: -28px;
      align-items: end;
    }
    .move--up > .flex:first-child {
      padding-bottom: 4px;
    }
    .product-description ul {
      padding-left: 20px;
    }
    .product-description ul li:before {
      margin-left: -18px;
      width: 14px;
      height: 14px;
      margin-top: -2px;
    }
    .splide__arrow {
      width: 30px;
      height: 30px;
      top: 44%;
    }
    .item-1 {
      order: 1;
    }
    .item-3 {
      order: 2;
    }
    .item-5 {
      order: 3;
    }
    .item-2 {
      order: 4;
    }
    .item-4 {
      order: 5;
    }
    .item-6 {
      order: 6;
    }
  }
  @media screen and (width < 389px) {
    .its-checked,
    .its-checked > .option-0 > .flex.gap-2 {
      max-width: 181px;
    }
    #resize-me > .flex-1:first-child {
      max-width: 169px;
    }

  }

  @media (width > 388px) and (width < 410px) {
    .its-checked,
    .its-checked > .option-0 > .flex.gap-2 {
      max-width: 185px;
    }
    #resize-me > .flex-1:first-child {
      max-width: 172px;
    }
  }
    .product--sticky-form,
    .ochatbot-container {
    transition: .6s ease;
    transform: bottom .2s;
    }
    .product--sticky-form__active {
    bottom: 0;
    }
    .product--sticky-form__inactive {
    bottom: -100%;
    }

    .chat-up {
    bottom: 70px !important;
    }
    #gladlyChat_container {
        transition: bottom .3s ease;
    }
    #gladlyChat_container.chat-up {
        bottom: var(--height) !important;
    }
</style>
{% liquid
  assign product_handle = section.settings.product
  if product_handle and product_handle != ''
    assign product = all_products[product_handle]
  endif 
%} 
{% assign current_variant = product.selected_or_first_available_variant  %}
{% assign variantPrice = product.selected_or_first_available_variant.price %}
{% assign compare_at_price = product.selected_or_first_available_variant.compare_at_price %}

{% assign productImage = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
<!-- product {{product.handle }} -> {{product_handle}} -->
{% render 'ck-product-option-2-css',
  option_button_class: option_button_class,
  option_button_selected_class: option_button_selected_class
%}    

<script>
  function scrollToDiv() {
    let element = document.querySelector(`[data-oke-widget][data-oke-reviews-product-id]`);
    if (element) {
      const headerHeight = document.querySelector('#shopify-section-header').offsetHeight;
      const elementPosition = element.getBoundingClientRect().top + window.pageYOffset;
      const offsetPosition = elementPosition - headerHeight;
      window.scrollTo({
        top: offsetPosition,
        behavior: "smooth"
      });
    }
  }
</script>

<div
  class="md:block max-w-[1600px] mx-auto px-4 md:px-6 {{section.settings.custom_css_class}}"
  id="ck-product-form"
>
        
        <div id="shop-now" class="relative tab-img-content md:block">
          <div class="flex flex-col items-center justify-between mx-auto lg:flex-row  border-l-2 border-[#1F4139] lg:border-0">
              <div class="relative block items-center justify-center mt-0 lg:border-r-2 lg:border-[#1F4139] lg:w-1/2 lg:mt-0 gap-2 overflow-x-scroll overflow-y-hidden aspect-w-1 aspect-h-1 flex-nowrap md:justify-center md:items-center md:overflow-hidden">

                <div class="w-full  aspect-w-1 aspect-h-1 p-4 lg:py-40">
            <div>
              <img
                alt="Product image"
                loading="eager"
                class="w-full"
                :class="{ 'opacity-50': imageLoading }"
                sizes="(min-width: 64em) 60vw, (min-width: 48em) 50vw, 90vw"
                src="{{product.featured_image | img_url: '480x480'}}"
                width="800"
                height="800"
                ref="productImage"
                @load="imageLoading=false"
                srcset="
                  {{product.featured_image | img_url: '480x480'}} 480w,
                  {{product.featured_image | img_url: '960x960'}} 960w,
                  {{product.featured_image | img_url: '1440x1440'}} 1440w,
                  {{product.featured_image | img_url: '1920x1920'}} 1920w,
                  {{product.featured_image | img_url: '2560x2560'}} 2560w,
                  {{product.featured_image | img_url: '3840x3840'}} 3840w
                "
                decoding="async"
              >
            </div>
          </div>                
            
              </div>


          <div class="w-full px-4 text-left lg:w-1/2 space-y-4 lg:max-w-[600px]">
          <div class="mt-4 mb-2">
            
            <span class=" block w-full text-left font-normal text-gray-900 text-[16px]">
              {{ section.settings.sub_title }}
            </span>
            <h1
              class="{% unless section.settings.show_title %} hidden {% endunless %} w-full text-left text-[18px] !font-bold  text-gray-900 sm:text-[24px] mt-[10px]"
              v-text="getProductTitle(`{{product.title}}`)"
            >
              {{ product.title }}
            </h1>
        </div>
        <div
          class="{% unless section.settings.show_description %} hidden {% endunless %} w-full mt-4 product-description"
          v-html="getProductDescripton(product.description)"
        >
              
      <div role="status" class="max-w-full animate-pulse">
        <div class="h-2.5 bg-gray-200  w-full mb-4"></div>
        <div class="h-2 bg-gray-200  w-full mb-2.5"></div>
        <div class="h-2 bg-gray-200  mb-2.5"></div>
        <div class="h-2 bg-gray-200  w-full mb-2.5"></div>
        <div class="h-2 bg-gray-200  w-full mb-2.5"></div>
        <div class="h-2 bg-gray-200  w-full mb-[20px]"></div>
        <div class="h-2 bg-gray-200  w-full max-w-sm mb-2.5"></div>
        <div class="h-2 bg-gray-200  w-full max-w-sm mb-2.5"></div>
        <span class="sr-only">Loading...</span>
      </div>
        
        </div> 

        <div class="mt-2 lg:col-start-1 lg:row-start-2 lg:self-start">
          <section aria-labelledby="options-heading">
            <h2 id="options-heading" class="sr-only" t1>Product options</h2>
            {% render 'ck-product-option-3',
              option_button_class: option_button_class,
              option_title_class: option_title_class,
              add_to_cart_class: add_to_cart_class,
              bgColorSelected: bgColorSelected,
              settings: section.settings,
              product: product
            %}
          </section>
        </div>

        <div class="w-full">
          {% assign faq_block = section.blocks | where: 'type', 'faq' %}

          {%- for block in faq_block -%}
            <div class="detail-tab-wrapper w-full my-4 p-4 bg-[#F7F9FB]   flex justify-between items-center cursor-pointer" 
              {% comment %} {%- if block.settings.description -%}
                data-block-details="{{ block.settings.description }}"                  
              {%- endif -%} {% endcomment %}
              data-block-title="{{ block.settings.title }}"
            >
              <span class="font-medium">{{block.settings.title}}</span>
              <div class="!hidden tabs-detail">{{block.settings.description}}</div>

              <svg
                class="w-[16px] h-[16px]"
                width="36"
                height="36"
                viewBox="0 0 36 36"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  id="Plus"
                  fill="#78a14a"
                  fill-rule="evenodd"
                  stroke="none"
                  d="M -0 14.511627 L 14.511628 14.511627 L 14.511628 0 L 21.488373 0 L 21.488373 14.511627 L 36 14.511627 L 36 21.488373 L 21.488373 21.488373 L 21.488373 36 L 14.511628 36 L 14.511628 21.488373 L -0 21.488373 L -0 14.511627 Z"
                />
              </svg>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'pl-tab-popup'  %}
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    const getWidth = document.getElementById('resize-me');
    const optionsLife = document.querySelectorAll('.buttonsfloat')
    const optionsLifeSingle = document.querySelector('.move-right');

    const resizeElements = () => {
      let width = getWidth.offsetWidth;
      let widthFirst = width / 2;
      let widthSecond = width / 80;
      optionsLife.forEach(option => {
        option.style.width = `calc(100% + ${widthFirst}px)`;
      });
      optionsLifeSingle.style.right = `calc(100% + ${widthSecond}px)`;
      if (window.innerWidth < 600) {
        widthSecond = width / 50;
        optionsLifeSingle.style.right = `calc(100% + ${widthSecond}px)`;
      }
    }

    resizeElements();

    window.addEventListener('resize', function() {
      resizeElements();
    });

  });
</script>


<script>
  {% assign selected_variant = product.selected_or_first_available_variant  %}
  window.default_variant = {{ selected_variant | json }};
  {% for v in product.variants %}
    {% assign option1 = v.option1 | downcase %}
    {% assign option2 = v.option2 | downcase %}
    {% assign option3 = v.option3 | downcase %}
    {% if option1 contains 'one' or option2 contains 'one' or option3 contains 'one'  %}
      {% assign selected_variant = v %}
      {% break %}
    {% endif %}
  {% endfor %}
  window.currentProduct= {{product  | json}};
  window.selectedVariant = {{ selected_variant | json }}
  var url = new URL(location.href);
  var variantId = url.searchParams.get("variant");
  if(variantId && variantId!=''){

    window.selectedVariant = window.currentProduct.variants.find(function(variant){
      return variant.id == variantId;
    })
    if(!window.selectedVariant){
      window.selectedVariant = window.default_variant;
    }
  }


  window.compare_at_prices = {
    {%- for v in product.variants -%}
      {% assign compare_at_price = v.compare_at_price %}
      {% if v.metafields.my_fields.compare_at_price_frontend %}
        {% assign compare_at_price = v.metafields.my_fields.compare_at_price_frontend |times:100 %}
      {% endif %}
      "{{v.id}}" :{{ compare_at_price | json }}
      {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }  
  // test code life {{ product.tags  }}
  window.finalProductPrice = {
    {% if product.tags contains 'bf-sale' or product.tags contains 'custom_pricing' %}
    {%- for v in product.variants -%} 
      {% assign final_price_after_discount = v.price %}
      {% if v.metafields.custom.final_price_after_discount %}
      {% assign final_price_after_discount = v.metafields.custom.final_price_after_discount | times: 100 %}
      {% endif %}  

      {% if product.tags contains '10-sale-off'  %}
        
      {% assign final_price_after_discount = v.price | times: 9 |  divided_by: 10 %}
      {% endif  %} 
      {% if product.tags contains '15-percent-discount' %}
        
      {% assign final_price_after_discount = v.price | times: 85 | divided_by: 100 | divided_by: 100 | floor | times : 100 %}      
      {% endif %}     
 

      "{{v.id}}" : {{ final_price_after_discount | json }}
      {%- unless forloop.last -%}, {%- endunless -%}
      {%- endfor -%}  
    {% endif  %}
  }   



</script>
{% render 'product-extra-scripts', product: product %}
<!-- Test code -->
<script src="{{'ck-components-2.js' | asset_url }}" defer></script>
<script src="{{'ck-product-options-life.js' | asset_url }}" defer></script> 
<script>
  $(document).ready(function () {
    addClassInViewSequentially('pl-wrapper-product-section');
    setTimeout(function () {  
    $('.pl-wrapper-product-section').addClass('loaded_animation');
    }, 1000);
  });

  // <![CDATA[
  try {
    $(document).on('click', '.single-accordion .question', function (e) {
      e.preventDefault();
      e.stopPropagation();
      if (!$(this).hasClass('active')) {
        $(this).closest('.accordion').find('.question').removeClass('active');
        $(this).addClass('active');
      } else {
        $(this).closest('.accordion').find('.question').removeClass('active');
      }
    });
  } catch (ex) {
    console.log(ex);
  }
  // ]]>
  
</script>


{% schema %}
{
  "name": "Pl product last section S",
  "settings": [
    {
      "type": "text",
      "id": "custom_css_class",
      "label": "Custom Css Class"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "info": "Select a product to display. Default will be the page product"
    },
    {
      "type": "select",
      "id": "theme_option",
      "label": "Theme Option",
      "default": "theme_orange",
      "options": [
        {
          "label": "Theme 1 - Orange",
          "value": "theme_orange"
        },
        {
          "label": "Theme 2 - Green",
          "value": "theme_green"
        },
        {
          "label": "Theme 3 - Brown",
          "value": "theme_brown"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Description"
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show Reviews"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title"
    },
    {
      "type": "checkbox",
      "id": "custom_product_title",
      "label": "Custom Product Title By Variants"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "checkbox",
      "id": "show_subscription",
      "label": "Show Subscription Widget Seperately"
    },
    {
      "type": "liquid",
      "id": "below_image",
      "label": "Below Image Section"
    },
    {
      "type": "header",
      "content": "Product Design"
    },
    {
      "type": "select",
    "id": "subscription_option",
    "label": "Subscription Options",
    "options": [
    {
    "label": "Option 1",
    "value": "option1"
    },
    {
    "label": "Option 2",
    "value": "option2"
    },
    {
    "label": "Option 3",
    "value":"option3"
} 

    ]
    },
    {
      "type": "text",
      "id": "option_1_name",
      "label": "Option 1 name"
    },
    {
      "type": "select",
      "id": "option_1",
      "label": "Option 1",
      "default": "button",
      "options": [
        {
          "label": "Block Buttons",
          "value": "button"
        },
        {
          "label": "Block Buttons With Images",
          "value": "image-button"
        },
        {
          "label": "Radio Buttons",
          "value": "radio-button"
        },
        {
          "label": "Multiple Option Buttons",
          "value": "multi_button"
        },
        {
          "label": "Subscription Widget New",
          "value": "subscription-widget-new"
        },
        {
          "label": "Subscription Widget New V2",
          "value": "subscription-widget-new-v2"
        }
      ]
    },
    {
      "type": "text",
      "id": "option_2_name",
      "label": "Option 2 name"
    },
    {
      "type": "select",
      "id": "option_2",
      "label": "Option 2",
      "default": "button",
      "options": [
        {
          "label": "Block Buttons",
          "value": "button"
        },
        {
          "label": "Block Buttons With Images",
          "value": "image-button"
        },
        {
          "label": "Radio Buttons",
          "value": "radio-button"
        },
        {
          "label": "Subscription Widget New",
          "value": "subscription-widget-new"
        },
        {
          "label": "Subscription Widget New V2",
          "value": "subscription-widget-new-v2"
        }
      ]
    },
    {
      "type": "text",
      "id": "option_3_name",
      "label": "Option 3 name"
    },
    {
      "type": "select",
      "id": "option_3",
      "label": "Option 3",
      "default": "button",
      "options": [
        {
          "label": "Block Buttons",
          "value": "button"
        },
        {
          "label": "Block Buttons With Images",
          "value": "image-button"
        },
        {
          "label": "Radio Buttons",
          "value": "radio-button"
        },
        {
          "label": "Subscription Widget",
          "value": "subscription-widget"
        },
        {
          "label": "Subscription Widget New",
          "value": "subscription-widget-new"
        },
        {
          "label": "Subscription Widget New V2",
          "value": "subscription-widget-new-v2"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "html",
      "name": "Customize Option",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Display Name"
        },
        {
          "type": "checkbox",
          "id": "hide_option",
          "label": "Hide Option"
        },
        {
          "type": "header",
          "content": "Filter Product"
        },
        {
          "type": "text",
          "id": "option_1",
          "label": "Option 1 Name",
          "info": "Use option Name as defined in the product"
        },
        {
          "type": "text",
          "id": "option_2",
          "label": "Option 2 Name",
          "info": "Use option Name as defined in the product"
        },
        {
          "type": "text",
          "id": "option_3",
          "label": "Option 3 Name",
          "info": "Use option Name as defined in the product"
        },
        {
          "type": "header",
          "content": "Select Product"
        },
        {
          "type": "select",
          "id": "for_option",
          "label": "For Product Option",

          "options": [
            {
              "label": "Option 1",
              "value": "1"
            },
            {
              "label": "Option 2",
              "value": "2"
            },
            {
              "label": "Option 3",
              "value": "3"
            }
          ]
        },
        {
          "type": "html",
          "id": "custom_name",
          "label": "Custom Option Name"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Option Image"
        },

        {
          "type": "html",
          "id": "custom_description",
          "label": "Option Description"
        },

        {
          "type": "html",
          "id": "product_description",
          "label": "Product Description"
        }
      ]
    },
    {
      "type": "@app"
    },
    {
      "type": "faq",
      "name": "Faq",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "html",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Description from page"
        }
      ]
    },
    {
      "type": "images",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "media_type",
          "label": "Media Type",
          "default": "image",
          "options": [
            {
              "label": "Image",
              "value": "image"
            },
            {
              "label": "Video",
              "value": "video"
            }
          ]
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "Video Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pl product last section S"
    }
  ]
}
{% endschema %}

{%- comment -%}
{%- endcomment -%}


{%- assign days_price_valid_until = 10 | times: 86400 -%}
{%- assign gtin_option = 'gtin' -%}
{%- assign is_barcode_available = false -%}
{%- if current_variant.barcode != blank -%}
{%- assign is_barcode_available = true -%}
{%- assign gtin_string_length = current_variant.barcode | size -%}
{%- if gtin_string_length == 8 or gtin_string_length == 12 or gtin_string_length == 13 or gtin_string_length == 14 -%}
{%- assign is_valid_gtin_length = true -%}
{%- assign gtin_option = gtin_option | append: gtin_string_length -%}
{%- endif -%}
{%- endif -%}
 
<script type="application/ld+json" data-new1>
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "offers": {
      "@type": "Offer",
      "availability":"https://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
      "price": "{{ current_variant.price | divided_by: 100.00 }}",
      "priceCurrency": "{{ cart.currency.iso_code }}",
      "priceValidUntil": "{{ 'now' | date: '%s' | plus: days_price_valid_until | date: '%Y-%m-%d'}}",
      "url": "{{ shop.url }}{{ product.url }}"
    },
    "brand": {{ product.vendor | json }},
    "sku": {{ current_variant.sku | json }},
    "name": {{ product.title | json }},
    "description": {{ product.description | strip_html | json }},
    "category": "",
    "url": "{{ shop.url }}{{ product.url }}",
    {%- if is_barcode_available and is_valid_gtin_length %}
      "{{gtin_option}}": {{ current_variant.barcode | json }},
      "productId": {{ current_variant.barcode | json }},
    {%- elsif is_barcode_available %}
      "mpn": {{ current_variant.barcode | json }},
      "productId": {{ current_variant.barcode | json }},
    {%- endif -%}
    "image": {
      "@type": "ImageObject",
      "url": "https:{{ product.featured_media.preview_image | img_url: '740x' }}",
      "image": "https:{{ product.featured_media.preview_image | img_url: '740x' }}",
      "name": {{ product.title | json }},
      "width": 740,
      "height": 585
    }
  }
</script> 