{%- assign data = section.settings -%}
<style>
  .grid {
    display: grid !important;
  }
</style>
<div class="py-[20px] md:py-[50px] bg-white px-[20px] max-w-[1600px] mx-auto loaded_animation">
  <div class="bg-white">
    <div class="mx-auto max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-x-8 ">
      <div class="lg:col-span-4">
        <h2 class="text-[33px] md:text-[46px] font-semibold tracking-tight text-gray-900 hero__animation-contents  !delay-100 mb-[20px] md:mb-[50px]">
          Reviews
        </h2>

        <div class="mt-[20px] flex items-center hero__animation-contents  !delay-300">
          <p class=" mr-2 text-sm text-gray-900">
            <span class="text-[28px]">{{ data.rating_string }}</span> / 5.0
          </p>
          <div>
            <div class="flex items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-black"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="h-5 w-5 flex-shrink-0 text-black"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="h-5 w-5 flex-shrink-0 text-black"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="h-5 w-5 flex-shrink-0 text-black"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-500"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <p class="sr-only">{{ data.rating_string }} out of 5 stars</p>
          </div>
          <p class="!hidden ml-2 text-sm text-gray-900">Based on {data.total_reviews} reviews</p>
        </div>

        <div class="mt-[15px] !hidden">
          <h3 class="sr-only">Review data</h3>

          <dl class="space-y-3">
            <div class="flex items-center text-sm hero__animation-contents  !delay-500">
              <dt class="flex flex-1 items-center">
                <p class="w-3 font-medium text-gray-900">5<span class="sr-only"> star reviews</span></p>
                <div
                  aria-hidden="true"
                  class="ml-1 flex flex-1 items-center"
                >
                  <svg
                    class="h-5 w-5 flex-shrink-0 text-yellow-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <div class="relative ml-3 flex-1">
                    <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                    <div
                      style="width: calc(1019 / 1624 * 100%)"
                      class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"
                    ></div>
                  </div>
                </div>
              </dt>
              <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">83%</dd>
            </div>
            <div class="flex items-center text-sm hero__animation-contents  !delay-800">
              <dt class="flex flex-1 items-center">
                <p class="w-3 font-medium text-gray-900">4<span class="sr-only"> star reviews</span></p>
                <div
                  aria-hidden="true"
                  class="ml-1 flex flex-1 items-center"
                >
                  <svg
                    class="h-5 w-5 flex-shrink-0 text-yellow-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <div class="relative ml-3 flex-1">
                    <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                    <div
                      style="width: calc(162 / 1624 * 100%)"
                      class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"
                    ></div>
                  </div>
                </div>
              </dt>
              <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">10%</dd>
            </div>
            <div class="flex items-center text-sm hero__animation-contents  !delay-1100">
              <dt class="flex flex-1 items-center">
                <p class="w-3 font-medium text-gray-900">3<span class="sr-only"> star reviews</span></p>
                <div
                  aria-hidden="true"
                  class="ml-1 flex flex-1 items-center"
                >
                  <svg
                    class="h-5 w-5 flex-shrink-0 text-yellow-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <div class="relative ml-3 flex-1">
                    <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                    <div
                      style="width: calc(97 / 1624 * 100%)"
                      class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"
                    ></div>
                  </div>
                </div>
              </dt>
              <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">6%</dd>
            </div>
            <div class="flex items-center text-sm hero__animation-contents  !delay-1300">
              <dt class="flex flex-1 items-center">
                <p class="w-3 font-medium text-gray-900">2<span class="sr-only"> star reviews</span></p>
                <div
                  aria-hidden="true"
                  class="ml-1 flex flex-1 items-center"
                >
                  <svg
                    class="h-5 w-5 flex-shrink-0 text-yellow-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <div class="relative ml-3 flex-1">
                    <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                    <div
                      style="width: calc(3 / 1624 * 100%)"
                      class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"
                    ></div>
                  </div>
                </div>
              </dt>
              <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">1%</dd>
            </div>
            <div class="flex items-center text-sm hero__animation-contents  !delay-1500">
              <dt class="flex flex-1 items-center">
                <p class="w-3 font-medium text-gray-900">1<span class="sr-only"> star reviews</span></p>
                <div
                  aria-hidden="true"
                  class="ml-1 flex flex-1 items-center"
                >
                  <svg
                    class="h-5 w-5 flex-shrink-0 text-yellow-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <div class="relative ml-3 flex-1">
                    <div class="h-3 rounded-full border border-gray-200 bg-gray-100"></div>
                    <div
                      style="width: calc(1 / 1624 * 100%)"
                      class="absolute inset-y-0 rounded-full border border-yellow-400 bg-yellow-400"
                    ></div>
                  </div>
                </div>
              </dt>
              <dd class="ml-3 w-10 text-right text-sm tabular-nums text-gray-900">0%</dd>
            </div>
          </dl>
        </div>

        <div class="mt-[15px]">
          <h3 class="!hidden text-lg font-medium text-gray-900 hero__animation-contents  !delay-1800">
            Share your thoughts
          </h3>
          <p class="mt-1 text-sm text-gray-600 hero__animation-contents  !delay-2000">
            This product is rated {{ data.rating_string }} out of 5 stars.
          </p>

          {% comment %}
            {/* <a
              href="#"
              aria-label="Write a review button"
              class="mt-6 inline-flex w-max items-center justify-center border-b border-gray-500 bg-white px-[5px] py-[4px] text-[16px] text-gray-900 hover:bg-gray-50 hero__animation-contents  !delay-2500 font-semibold"
            >
              Write a review
            </a> */}
          {% endcomment %}
        </div>
      </div>

      <div class="mt-16 lg:col-span-7 lg:col-start-6 lg:mt-0 max-h-[600px] overflow-y-auto">
        <h3 class="sr-only">Recent reviews</h3>

        <div class="flow-root">
          {%- for review in section.blocks -%}
            <div
              class="-my-12 divide-y divide-gray-200 hero__animation-contents"
              style="transition-delay: {{forloop.index | times: 0.4}}s"
            >
              <div class="py-12">
                <div class="flex items-center">
                  {% comment %}
                    {/* <Image
                    width="48"
                    height="48"
                      src={review.settings.image}
                      alt={review.settings.title}
                      class="h-12 w-12 rounded-full"
                    /> */}
                  {% endcomment %}
                  <div class="">
                    <h4 class="text-sm font-bold text-gray-900">
                      {{ review.settings.title }}
                    </h4>
                    <div class="mt-1 flex items-center">
                      <svg
                        class="text-yellow-400 h-5 w-5 flex-shrink-0"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <svg
                        class="text-yellow-400 h-5 w-5 flex-shrink-0"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <svg
                        class="text-yellow-400 h-5 w-5 flex-shrink-0"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <svg
                        class="text-yellow-400 h-5 w-5 flex-shrink-0"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <svg
                        class="text-yellow-400 h-5 w-5 flex-shrink-0"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </div>
                    <p class="sr-only">5 out of 5 stars</p>
                  </div>
                </div>

                <div class="mt-3 space-y-6 text-base italic text-gray-600">
                  <p>{{ review.settings.description }}</p>
                </div>
                <div class="mt-2 space-y-6">
                  <h5 class="text-sm font-semibold text-gray-900">
                    {{ review.settings.name }}
                  </h5>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    addClassInViewSequentially('pl-wrapper-reviews');
  });
</script>

{% schema %}
{
  "name": "PL Reviews",
  "settings": [
    {
      "type": "textarea",
      "id": "rating_string",
      "label": "Rating String",
      "default": "4.4"
    }

  ],
  "blocks": [
    {
      "type": "reviews",
      "name": "Review",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Performance Bundle"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Performance Bundle"
        },
        {
          "type": "textarea",
          "id": "name",
          "label": "Name",
          "default": "Performance Bundle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PL Reviews",
      "blocks": [
        {
          "type": "reviews",
          "settings": {
            "title": "I expected to be hungry and then..",
            "description":
              "I expected to be hungry and then HANGRY, on this program. I was extremely surprised by the fact that not only was I NOT hungry, I also didn't crave my usual nightcap. I really didn't have any cravings for the most part, of course smelling the food I was cooking for my family smells good, but I didn't feel like I NEEDED to eat it. Which was one of the main reasons I wanted to try this program. I enjoyed the food. I did NOT like the drink we had to sip on. The flavor was just not my jam. But other than that I have been pleased with how I feel. I work very hard for a living and I usually need a bit more to eat during the day, NOT this week.",
            "name": "Sara Snyder"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "This was my 10th Prolon fast",
            "description":
              "This was my 10th Prolon fast. I used this one to reset myself due to having long COVID. I can't begin to describe how much better I feel after doing a prolon fast",
            "name": "Robin Laabs"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "Amazing Program",
            "description":
              "This is my second time using Prolon. It is so easy to follow and stay on the fasting plan for better health. I lost 6 pounds at the end of five days. I feel great. My bpm dropped 5 points and My anxiety level is nonexistent.",
            "name": "Marie"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "I use FMD as a reset whenever I fall off the wagon!",
            "description":
              "This is my third time trying the fast mimicking diet, and I have learned to go back to it whenever I need a reset. I tend to do great at watching what I eat for a period of time, but then start slipping back into old habits over time. At that point, I find that if I do the fast mimicking diet again, it really does reset my thinking about how much I need to eat. Basically if I can get by on 700 to 800 cal per day for five days during the diet, then I can easily bump that up two maybe 1200 calories per day, and keep that going for an extended period of time, once the diet is over.",
            "name": "bfherrmann"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "Prolon leaves the guesswork out of..",
            "description":
              "Prolon leaves the guesswork out of fasting! The system is super easy to follow and even includes a transition day diet. I always feel great during day and have high energy. I sleep so deep! I love that Prolon makes it so simple to take care of my body on a cellular level... thank you Prolon! Kimberley",
            "name": "Kimberley M."
          }
        },
        { 
          "type": "reviews",
          "settings": {
            "title": "THIS IS FASTING?!? - INCREDIBLE!!!",
            "description":
              "I am on a journey to create better health, ProLon was my attempt to reset my body after eating and drinking too many garbage foods. I fasted from 10/2 - 10/6. The fast was easy to follow, The food was surprisingly delicious; I never felt hungry or craved any junk foods and wasn't even tempted by foods on tv commercials. My favorite days were the days with the olives. Definitely ready for month 2 and 3 when the time comes. Oh yeah, I lost 8.2 lbs in 5 days.",
            "name": "R. Pryor"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "I had such a great experience",
            "description":
              "I had such a great experience! Food was great. I had a lot of energy and slept well. I also lost 5 lbs which has been so hard to do! I'll definitely do Prolon again and have recommended it to friends.",
            "name": "Kristen"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "ProLon changed my life",
            "description":
              "ProLon changed my life. I saw significant results on day three of the 5 day program. It teaches you how to eat and more importantly how you are supposed to feel when you are eating healthy. It has inspired me continue with this journey towards maintaining my health and well-being.",
            "name": "Fernando Bobbio"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "Reset Accomplished!",
            "description":
              "Clear and easy to follow instructions. Food was better than expected The Fastination FB page was helpful and encouraging.",
            "name": "Karen Steckler"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "So much easier than water fasting....",
            "description":
              "I've done a few therapeutic water fasts over the years and I absolutely hated every minute. I've always had the most miserable time ever. Prolon fasting however is a game changer. Yes it's hard, but there are those times every day that you know you are going to eat!! Follow the \"instructions\" for the soups and they shouldn't be hard or gritty (some need stove top cooking for 15 mins). I am lucky that I enjoy olives, the crackers and the nut bars were delicious, it's food after all : ) I have just completed round 3. It really does get easier with each round. My one criticism - the beautiful packaging and plastic bottle are completely unnecessary. I think Prolon should scale that down a bit. THANK YOU Prof Longo for the decades of hard work and study.",
            "name": "Lesley."
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "I was expecting to be hungry",
            "description":
              "I was expecting to be hungry, but was pleasantly surprised. By drinking water through out the day and hot herbal tea in the evening I was not hungry. The L-drink flavors were delicious. I had been feeling really bloated, at the end of day 2, it subsided and was gone by day 4. Thank you for making this wonderful product.",
            "name": "Eileen T"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "I really liked this fast",
            "description":
              "I really liked this fast. It was easy to follow and took the planning out of my day. I wasn't really hungry and it made me realize how much mindless eating I was doing. I felt great by the end of day 3!",
            "name": "Maureen Mittry"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "This is a beautifully organized.",
            "description":
              "This is a beautifully organized package. The support is awesome as well. The best fast that I have ever experienced. I am not hungry.",
            "name": "Michele Williams"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "A well deserved investment in Me",
            "description":
              "A friend recommended ProLon fasting program to me. This was my first fast. My goal was to reduce stomach inflammation and improve overall gut health. The program is well laid out & easy to follow. I viewed it as a well deserved investment in \"me\" ProLon did not disappoint, I have more energy, feel great & plan to continue down the path of healthier eating behavior for years to come.",
            "name": "R. Howard"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "Success after a long journey!!",
            "description":
              "I received the Prolon kit right away after ordering. I'm on my 5th day of the fast and I feel great. I never really experienced any hunger, and I've already ordered another kit to use in a few months. I feel like after years of being unsuccessful with yo-yo DIETING I am now on my way to achieving not only the weight loss I've been longing for, but I'm on my way to much better health via great nutrition and exercise. Thank you, Dr. Longo and your team for all your hard work!!! What a wonderful product! I bought the Longevity Diet book and the recipe book is on its way to me!! Thank you so much!!",
            "name": "Sharon Wilson"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "it is a hard program but it works",
            "description":
              "it is a hard program but it works. I would not lie, I cannot believe I completed it. I lost 6 pounds and feel really amazing. I will continue with a modified Keto program moving forward",
            "name": "Veronica Diaz"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "My first 5 day Fast",
            "description":
              "This was a great experience! I feel amazing, and have so much energy and focus. The food tastes great! I've already recommended to all my friends.",
            "name": "Julie S"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "This was an amazing experience for me",
            "description":
              "This was an amazing experience for me. During the \"fast\" I felt energized and was rarely hungry. I was so excited to increase my deep sleep each night reaching 2h53m, when my typical deep sleep clocks in at 45m. I would highly recommend this program!",
            "name": "Kristy Snyder"
          }
        },
        {
          "type": "reviews",
          "settings": {
            "title": "Amazing",
            "description":
              "The easiest way to drop 4 kilos. Was never hungry. Of course you have not signed up to a gourmet week but with the weight loss in mind fine it's very palatable Well done prolon! Go go go",
            "name": "carl michaelsen"
          }
        }
      ]
      ,
      "category": "Advanced layout"
    }
  ]
}
{% endschema %}
