{%- assign data = section.settings -%}
<div class="w-full bg-[#F8F9FB] py-[20px] md:py-[40px]  px-[20px] lg:px-[40px]">
  <div class="w-full max-w-[1600px] mx-auto">
    <div class="w-full max-w-[1440px]">
      <span class="inline-block py-px px-[20px] mb-4 text-xs leading-5 text-white bg-[#73994a] font-medium uppercase">
        {{ data.subTitle }}
      </span>
      <h2 class="mb-6 text-[33px] md:text-[46px] leading-[1.2] font-normal">
        {{ data.title }}
      </h2>
    </div>
    <div class="pt-[15px] pb-[25px] md:pt-[20px] md:pb-[50px] w-full relative overflow-x-scroll flex justify-start items-stretch gap-[20px] md:gap-[30px]">
      {%- for block in section.blocks -%}
        <div class="relative bg-white w-full min-w-[375px]">
          <a
            href="{{block.settings.video}}"
            class="promo-grid__slide-link js-no-transition"
            aria-hidden="true"
            aria-label="Watch The Video"
          ></a>
          <div class="relative">
            <a
              href="{{block.settings.video}}"
              class="promo-grid__slide-link js-no-transition absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 inline-flex items-center justify-center w-16 h-16 bg-prolon hover:bg-prolon rounded-full"
            >
              <svg
                class="ml-1"
                width="17"
                height="20"
                viewBox="0 0 17 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M15.5 9.13001L1.50001 1.05001C1.34799 0.962237 1.17554 0.916031 1.00001 0.916031C0.824471 0.916031 0.652027 0.962237 0.500008 1.05001C0.347404 1.13811 0.220789 1.26497 0.132986 1.41775C0.0451825 1.57053 -0.000691684 1.7438 7.88292e-06 1.92001V18.08C-0.000691684 18.2562 0.0451825 18.4295 0.132986 18.5823C0.220789 18.735 0.347404 18.8619 0.500008 18.95C0.652027 19.0378 0.824471 19.084 1.00001 19.084C1.17554 19.084 1.34799 19.0378 1.50001 18.95L15.5 10.87C15.6539 10.7828 15.7819 10.6563 15.871 10.5035C15.96 10.3506 16.007 10.1769 16.007 10C16.007 9.82311 15.96 9.64938 15.871 9.49654C15.7819 9.3437 15.6539 9.21722 15.5 9.13001ZM2.00001 16.35V3.65001L13 10L2.00001 16.35Z" fill="white"></path>
              </svg>
            </a>
            <img
              src="{{block.settings.image | img_url: '500x'}}"
              class="max-w-[375px] mx-auto w-full object-cover h-auto md:h-[450px]"
            >
          </div>
          <div class="block relative">
            <span class="block text-[16px] text-black font-normal uppercase py-[10px]">USER REPORTED BENEFITS:</span>
            <span class="block text-[15px] text-[#73994a] font-normal  italic">{{ block.settings.benefits }} </span>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "PL Video Testimonials",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "#1 Doctor Recommended Nutrition for Health & Longevity"
    },
    {
      "type": "text",
      "id": "subTitle",
      "label": "Sub Title",
      "default": "TRIED & TRUSTED"
    }
  ],
  "blocks": [
    {
      "type": "cards",
      "name": "Card",
      "settings": [
        {
          "type": "textarea",
          "id": "benefits",
          "label": "Benefits"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "video",
          "label": "Video Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PL Video Testimonials",
      "blocks": [
        {
          "type": "cards",
          "settings": {
            "benefits": "Weight loss, clarity, reduced cravings, energy",
            "video": "https://www.youtube.com/watch?v=9ZyhBZxMCLU"
          }
        },
        {
          "type": "cards",
          "settings": {
            "benefits": "Improved well-being, weight loss, energy, confidence",
            "video": "https://www.youtube.com/watch?v=TRGu1JehI2w"
          }
        },
        {
          "type": "cards",
          "settings": {
            "benefits": "Reduced sugar cravings, better portion control",

            "video": "https://www.youtube.com/watch?v=QWPL4o47Zg0"
          }
        },
        {
          "type": "cards",
          "settings": {
            "benefits": "Preserved lean muscle mass & performance",
            "video": "https://www.youtube.com/watch?v=9ZyhBZxMCLU"
          }
        },
        {
          "type": "cards",
          "settings": {
            "benefits": "Weight loss, clarity, reduced cravings, energy",
            "video": "https://www.youtube.com/watch?v=9ZyhBZxMCLU"
          }
        },
        {
          "type": "cards",
          "settings": {
            "benefits": "Improved well-being, weight loss, energy, confidence",
            "video": "https://www.youtube.com/watch?v=9ZyhBZxMCLU"
          }
        },
        {
          "type": "cards",
          "settings": {
            "benefits": "Reduced sugar cravings, better portion control",
            "video": "https://www.youtube.com/watch?v=9ZyhBZxMCLU"
          }
        }
      ],
      "category": "Advanced layout"
    }
  ]
}
{% endschema %}
