<link rel="stylesheet" href="{{ 'product-style.scss.css' | asset_url }}" />
{% if products.handle contains 'prolon' %}
<style> 
  a.site-nav__link[href="/products/buy-prolon"] {
    display: NONE;
  }.hero-banner.pointer {
    cursor: pointer;
} 
.prolon-top-section {
    text-align: center;
}

</style>
{% endif %} {% assign seo_title=true %}
  
  <style>.ultimate-countdown {
    padding-top: 20px;
}.announcement-bar{
  display: none;
}  
{% if handle contains 'prolon-special' %}

{% endif %}
h3.purchase-notice {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}.prolon-top-section {
    text-align: center;
} 
.side-cart__suggestions {
    display: none!important;
} 

.ajaxcart__inner.no-sub-product+.ajaxcart__footer .additional-checkout-buttons {
    display: none!important;
}      
.ss-shopify_cart p.saved-value {
    display: none;
}
.slide-pop-notification.slide-pop-notification.active {
    display: none!important;
}  
.code-block-slide-pop {
    display: none;
}  
.last-minute-coupon.animated.flash {
    display: none!Important;
} 
 
.error-message.last-minute-coupon.animated.flash {
    display: block!important;
}    
.spacer-section {
    padding-top: 40px;
} 
.product-single__description.rte{
  visibility: visible;
}
</style> 
<style>
  .price-box .variant-input {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    padding-bottom: 0px;
    padding-top: 0px;;
}

p.klarna-payment {
    font-size: 14px;
}

p.klarna-payment svg {
    width: 50px;
    position: relative;
    top: 8px;
    margin-right: 9px;
}    
button#klarna-installments-cta {
    font-size: 13px;
    text-decoration: underline;
}
.price-box .price-wrapper {
    display: block;
}

.price-box .input_lable {
    text-align: left;
}

label.variant__button-label {
    font-weight: 700;
}

.price-box .variant-input span.intemittant-badge {
    padding: 0px;
    font-weight: 100;
}

.price-box .t-price {
    font-weight: 700;
    font-size: 22px;
}

.price-box .t-price s {
    font-weight: 100;
    margin-right: 8px;
    font-size: 18px;
}

button#klarna-installments-cta {
    font-family: 'Harmonia Sans';
}

p.klarna-payment.klarna-payment {
    margin-bottom: 10px;
    padding-left: 0px;
    margin-left:10px;
    margin-top: -8px;;
}

p.shop-payment {
    text-align: left; 
    font-size: 14px!important;
}
button#shopify-installments-cta img,#klarna-installments-cta img {
    width: 16px;
    border: 0px solid;
    position: relative;
    top: 4px;
}
@media (min-width: 767px) {
p.shop-payment {
    white-space: nowrap;
}

button#shopify-installments-cta {
    padding: 0px;
}

p.klarna-payment.klarna-payment {
    white-space: nowrap;
    padding-left: 0px;
}

p.klarna-payment svg {
    padding: 0px;
    height: 26px;
}
} .color-coaching { color:red;display: block;width: 100%;border-bottom: 1px solid #d7d7d7;padding-bottom: 10px;}
@media(max-width:440px){p.klarna-payment.klarna-payment {
    text-align: center;
    max-width: 94%;
    /* flex-wrap: nowrap; */
    /* display: flex; */
}

p.shop-payment {
    line-height: 1.4!important;
    display: block;
    height: 30px;
    text-align: center;
    max-width: 95.1%;
}

button#klarna-installments-cta {
    padding-left: 0px;
    margin: 0px!Important;
    padding: 0px;
}



.price-box .t-price s {
    position: absolute;
    top: -20px;
    right: -8px;
}

.price-wrapper {
    position: relative;
}

.price-box .variant-input {
    padding-top: 20px;
}

.price-box .price-wrapper {
    position: relative;
    top: 5px;
}

button#shopify-installments-cta {
    padding: 0px;
}}


</style> 
<div class="spacer-section">
  
</div>


<!-- <div class="ultimate-countdown"></div>  -->
{% include 'product-choice-professional-v2' %}
  
<div class="form-section"><div class="klaviyo-form-X6dF4V"></div></div>
<div class="main-content-inner">
  {% section 'product-template-narrow' %} {%include 'bottom-section-prolon' %}
  {% section 'recently-viewed' %}
</div> 
{% if collection %}
<div class="text-center page-content page-content--bottom">
  <a
    href="{% if collection.handle == 'frontpage' %}/{% else %}{{
      collection.url
    }}{% endif %}"
    class="btn btn--small return-link"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon--wide icon-arrow-left"
      viewBox="0 0 50 15"
    >
      <path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z" />
    </svg>
    {{ "products.general.collection_return" | t: collection:collection.title }}
  </a>
</div>
{% endif %} {% include 'prolon-scripts' %} {% render 'product_infox' %}

<style>
  .aos-animate.trust-image {
    display: none !important;
  }

  body.template-product .main-content {
    padding: 0px;
  }
  .atc-shop-now {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000000;
  }

  .hero-banner {
    position: relative;
  }

  .atc-shop-now a.shopnow-btn.btn {
    display: none;

    top: -31px;
    left: -478px;
  }
  .plan-details {
    display: flex;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    column-gap: 20px;
    margin-top: 60px;
    flex-wrap: wrap;
  }

  .single-plan {
    min-width: 300px;
    width: 32%;
    padding: 20px;
    border: 1px solid;
    height: 530px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .page-content.page-content--product {
    display: none;
  }
  .header-item.header-item--navigation.text-center {
    display: none;
} 

  @media (max-width: 767px) {
    .hero__text-content {
      height: 100px;
    }

    .select-a-plan {
      padding: 20px;
    }
    .slideshow__slide.slideshow__slide--9142942d-0f4e-4c09-8bdc-f0fe91901060.slick-slide.slick-current.slick-active {
      height: 300px;
      padding: 10px;
    }

    div[data-section-id="9142942d-0f4e-4c09-8bdc-f0fe91901060"] {
      padding: 10px;
      height: 300px;
    }
  }
  body.template-product .main-content-inner {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding-top: 20px;
    box-shadow: none;
  }
  body.template-product .main-content {
    max-width: 100%;
    background: transparent;
    box-shadow: none;
    padding: 0px !important;
  }

  .flavour-description {
    font-size: 14px;
    padding: 0px 10px;
} 
body #MainContent{
    max-width: 100% !important;

}
  @media (min-width: 767px) {
    .toolbar + .header-sticky-wrapper .site-header {
    padding: 5px;
}

.header-item.header-item--icons {
    top: 15px!important;
}
    .header-item.header-item--logo {
      justify-self: center;
    }
    .header-layout {
      justify-content: center;
      width: 100%;
    }
    .header-item.header-item--icons {
      position: absolute;
      right: 10%;
      top: 30px;
    }
  }

  .single-product-wrapper p.main-price {
    line-height: 1;
}

.single-product-wrapper .price-box {
    padding-bottom: 9px;
    padding-top: 9px;

}
</style>
{{ product.metafields.global.custom_css }}
{% section 'product-story-section-fmd' %}

<script>
  let currentProduct = {{ product  | json }} ; 
  $(document).ready(function () {
    $(".hero-banner").click(function () {
      $("html, body").animate(
        { scrollTop: $("#product-choice").offset().top-50  }, 
        300 
      );
    });

 
    $(document).on('click',".select-product-and-process",async function () {
      //code test 2  
      let context = $(this); 
      try{ 
      let mainsection = context.closest('.add-to-cart-section');
      let option = $(this).closest('.single-product-wrapper').attr("data.option");  
      let option2 = $(this).closest('.single-product-wrapper').attr("data.option2"); 
      let monthValue= $(this).closest('.single-product-wrapper').find('.klarna-installments__learn-more').attr('data-month')
      context.find(".btn").text("Adding..."); 
      let flavor= mainsection.find('.flavor-type:checked').val();
    
      let variants= currentProduct.variants.filter(e=>{
        return e.option1==option && e.option2==flavor ;
      })  
      let variantId;
      if(variants&& variants.length>0){
        variantId=variants[0].id;
      } 

    
      let item ={ 
      quantity: 1, 
      id: variantId,
      
      }  
      if(variants&& variants[0] && variants[0].price){
        let monthlyPrice = (variants[0].price/monthValue)/100;
       item.properties= { 
      "*Klarna":`As low as $ ${monthlyPrice.toFixed(2)} / Month for ${monthValue} Months`,
      }   

      }
 
    // if(option2.toLowerCase().includes('subscri')){
    //   if(currentProduct.selling_plan_groups && currentProduct.selling_plan_groups.length>0){
    //   let selling_plan= currentProduct.selling_plan_groups[0].selling_plans.filter(e=>e.name=='Monthly')
    //   item.selling_plan=selling_plan[0].id;  
    //   }     
    // }  


      await jQuery.post('/cart/add.js', {
  items: [
  item
  ]
  });

  SuperCart.ShowCartfn();
  context.find(".btn").text("AGGIUNGI AL CARRELLO");
      }catch(ex){
        context.find(".btn").text("AGGIUNGI AL CARRELLO");
  
      }
    });  


    $('.do-add-to-cart').click(function(){
      $(this).closest('.single-product-wrapper').find(".select-product-and-process").click();
    });  
    $('[name="subscription_cart"]').click(function () {
      let val = $(this).val();

      $("select.shipping_interval_frequency").val(val).change();
    });
 
    $('.flavour-description').html(`<p><strong>Soups:</strong> Vegetable, Minestrone, Vegetable Quinoa,&nbsp;<br>Mushroom, Tomato</p>`);
    $('.flavor-type').click(function(){

      let currentFlavour= $(this).closest('.add-to-cart-section').find('.flavor-type:checked').val(); 
      if(currentFlavour=='Original')
      { 
        $(this).closest('.add-to-cart-section').find('.flavour-description').html(`<p><strong>Soups:</strong> Vegetable, Minestrone, Vegetable Quinoa,&nbsp;<br>Mushroom, Tomato</p>`);
      }
      else{ 
        $(this).closest('.add-to-cart-section').find('.flavour-description').html(`<p><strong>New Soup Flavors:</strong> Butternut Squash, Black Bean, Butternut Squash Quinoa, Spinach &amp; White Bean, Tomato</p>`);
        
      }

    }); 
 
 });
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  }; 
   
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script> 
{% render 'popup-for-patient' %}
 

<script type="text/javascript">

$(document).ready(function(){

$('.announcement-text').parent().html(`<span class="announcement-text">Please select the product option below based upon your healthcare provider’s guidance</span> `)
}) ;
$(document).on('click','#EmptyCart .btn',function(e){
e.preventDefault()
location.href="/products/prolon-professionals"
})   
</script>
 
<style>

.custom-side-cart-discount.tbtDiscountCombine.inSlide {
  display: none;
}

.hcp-code-wrapper .custom-side-cart-discount.tbtDiscountCombine.inSlide {
  display: block;
}
 

body.show-klarna-popup div#klarna-payment-terms-cover.hidden {
    display: block!important;
}
body.show-klarna-popup{
 overflow:hidden;
} 
</style>
 
{% include 'klarna-popup' , paymentText:"6" %}   

<script>
  $(document).ready(function () {
    
    $(document).on("click",'.klarna-installments__learn-more',function(e){
e.preventDefault();
// e.preventDefault(); 
$(".klarna-pop-pay-price").text($(this).attr('data-price'));
$(".klarna-pop-pay-month").text($(this).attr('data-month'));
 
$('body').addClass('show-klarna-popup');
    
});     



$('.btn__close--icon,div#klarna-payment-terms-cover .btn__close').click(function(e){
  $('body').removeClass('show-klarna-popup');
});     

  });

  
</script>