<link rel="stylesheet" href="{{ 'product-style.scss.css' | asset_url }}">
<style>
  .klaviyo-form {
    max-width: 600px;
  }
</style>

{% if products.handle contains 'buy-prolon' template contains or 'prolon-with-metafields' %}
  <style>
    a.site-nav__link[href='/products/buy-prolon'] {
      display: NONE;
    }
    .column2y {
      float: none;
      width: 90% !important;
      margin: auto;
    }
  </style>
{% endif %}
<style>
  div#shopify-section-product-fasting-group-metafileds {
    padding-top: 30px;
  }
</style>

<div class="pfk-hero-header">
  <div class="pkf-main-padding">
    <span>IT’S TIME TO RESET AND REJUVENATE!</span>
    <p style="    margin-bottom: 10px;">
      Start Your New, Healthy Habits with ProLon, a Health Coach, and a Fasting Group
    </p>
    <p class="small-paragrah">
      With your purchase of ProLon, you automatically get a health coach at no extra cost who will prep and coach you as
      you complete the 5-day ProLon Fasting Mimicking Diet in a fasting group.
    </p>
    <div class="pf-btn-wrap">
      <a href="#shopify-section-product-template-narrow" class="shopnow-btn btn" style="min-width: 200px">ORDER NOW</a>
      <i style="
          font-style: unset;
          margin-top: 20px;
        "
        >Order now, then select your dates and register below.<br>
        If you already have your ProLon kit, simply select your dates and register.</i
      >
    </div>
  </div>
</div>

{% section 'product-fasting-group-metafileds' %}

<div class="dyk-banner-wrap">
  <div class="dkn-header">
    <h1>Did You Know?</h1>
  </div>
  <div class="dkn-images-wrap">
    <div class="dkn-img-1">
      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Screenshot_2021-03-10_at_4.46.09_PM.png?v=1615382042"
        alt=""
      >
    </div>
    <div class="dkn-img-2">
      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Screenshot_2021-03-10_at_4.46.21_PM.png?v=1615382075"
        alt=""
      >
    </div>
  </div>
</div>
<div class="kristin-section-wrapper">
  <div class="vip-access">
    <div class="details-wrapper">
      <br>
      <div class="title">
        <span class="text26">Fasting Group Features</span>
      </div>
      <div class="padding-wrap">
        <div class="details-row-1">
          <div class="for-mobile">
            <div class="card">
              <img
                src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/check_3x_a77bd74c-de03-449d-ab8a-0a84a39bf529.png?v=1610272919"
                alt="icon"
              >
              <p>Daily guidance and tips on how to do ProLon &amp; what your body is going through</p>
            </div>
            <div class="card">
              <img
                src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/check_3x_a77bd74c-de03-449d-ab8a-0a84a39bf529.png?v=1610272919"
                alt="icon"
              >
              <p>Live chat with your coach and fellow fasters throughout the day</p>
            </div>
          </div>
        </div>
        <div class="details-row-2">
          <div class="for-mobile">
            <div class="card">
              <img
                src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/check_3x_a77bd74c-de03-449d-ab8a-0a84a39bf529.png?v=1610272919"
                alt="icon"
              >
              <p>Coach led daily Zoom video events</p>
            </div>
            <div class="card">
              <img
                src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/check_3x_a77bd74c-de03-449d-ab8a-0a84a39bf529.png?v=1610272919"
                alt="icon"
              >
              <p>Post-ProLon healthy eating advice</p>
            </div>
            <div class="card">
              <img
                src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/check_3x_a77bd74c-de03-449d-ab8a-0a84a39bf529.png?v=1610272919"
                alt="icon"
              >
              <p>Access to daily recordings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="benifit-section-wrapper benfit-points">
  <div class="section">
    <div class="title">
      <span>ProLon benefits* are truly incredible</span>
    </div>
    <div class="cards">
      <div class="upper-cards">
        <div class="card">
          <div class="img1"></div>
          <span
            >Quick start<br>
            to weight loss</span
          >
        </div>
        <div class="card">
          <div class="img2"></div>
          <span
            >Reduced belly<br>
            fat without loss <br>
            of lean body mass</span
          >
        </div>
        <div class="card">
          <div class="img3"></div>
          <span
            >Cell clean up <br>
            and rejuvenation that <br>
            supports healthy aging</span
          >
        </div>
      </div>
      <div class="below-cards">
        <div class="card">
          <div class="img4"></div>
          <span
            >Better mental energy<br>
            and clarity</span
          >
        </div>
        <div class="card">
          <div class="img5"></div>

          <span
            >Improved relationship<br>
            with food</span
          >
        </div>
      </div>
    </div>
  </div>
  <p class="point-to-be-noted">
    *Benefits seen in a clinical study of the 5-day ProLon cycle once a month for three months
  </p>
</div>
<div class="purchase-section section-wrapper">
  <div class="section" style="text-align: center; color: white; max-width: 95%; margin: auto">
    <h2 style="margin-bottom: 5px">Groups starts March 7 – must order by February 26</h2>
    <p>
      Simply click below to purchase ProLon and you'll be automatically registered for the event.<a
        href="#shopify-section-product-template-narrow"
        class="shopnow-btn btn"
        tabindex="0"
        style="min-width: 200px"
        >ORDER NOW</a
      >
    </p>
  </div>
</div>

{% assign seo_title = true %}
{% section 'product-template-narrow' %}
{% include 'bottom-section-prolon' %}
{% section 'recently-viewed' %}

{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a
      href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}"
      class="btn btn--small return-link"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        role="presentation"
        class="icon icon--wide icon-arrow-left"
        viewBox="0 0 50 15"
      >
        <path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/>
      </svg>
      {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
      $(".variant__input-32593125703726").trigger("click");
      let orignalTrustImage=$('.trust-image').data('original-image');
      let secndImage= "https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Single_Box_Promo.jpg?v=1608823169";
     // $('input[name="Quantity"][value*="Subscribe & Save"]').click();
    	$('input[type=radio][name=Quantity]').change(function() {
        $('.trust-image img').show().attr('src',orignalTrustImage).removeAttr('srcset');;
        if(this.value.includes('Single Prolon Order'))
        {
          //$('.trust-image').hide();
          $('.trust-image img').show().attr('src',secndImage).removeAttr('srcset');
        }


  		if (this.value.includes('Subscri')) {
  	      addSubscriptionOptions();
      }

      else {
            //$( "#subscription_plans").remove();
            $('input,select','.simple-sub-plan').attr('name','')
  		}
  	});
      $('input[type=radio][name=Quantity]').each(function() {
        if (this.value.includes('Subscri')) {
          if($(this).prop('checked')){
            addSubscriptionOptions();
          }
        } else {
          $('input,select','.simple-sub-plan').attr('name','');
          //$( "#subscription_plans" ).remove();
        }
      });
    });


    function addSubscriptionOptions() {
      $('.simple-sub-plan').remove();
      $( `form fieldset[name=Quantity] [data-value*="Subscri"]`).append(
  		'<div id="subscription_plans" class="simple-sub-plan" style="margin-left: 4px;">' +

  		'<select name="selling_plan">' +

        {% for group in product.selling_plan_groups %}

  {% for selling_plan in group.selling_plans %}
  '  <option value="{{ selling_plan.id }}" data-end="0">Deliver {{ selling_plan.name }}</option>' +
  {% endfor %}

  {% endfor %}
  		'</select>' +
  		'</div>');
    }

    setTimeout(function(){
        $('.variant__input-4634645430318[value*="Subscribe"]').last().click();
        addSubscriptionOptions();
  },50);

    $(window).load(function(){
  //$('input[name="Quantity"][value*="Subscribe & Save"]').last().click();
      setTimeout(function(){
     //   $('.variant__input-4634645430318[value*="Subscribe"]').last().click();
        addSubscriptionOptions();
  },50);

    });
</script>
{% render 'product_infox' %}

<style>
  .aos-animate.trust-image {
    display: none !important;
  } 
  {% comment %} .announcement-bar {
    display: none;
  } {% endcomment %}
  body.template-product .main-content {
    padding: 0px;
  }

  @media (max-width: 767px) {
    .hero__text-content {
      height: 100px;
    }

    .slideshow__slide.slideshow__slide--9142942d-0f4e-4c09-8bdc-f0fe91901060.slick-slide.slick-current.slick-active {
      height: 300px;
      padding: 10px;
    }

    div[data-section-id='9142942d-0f4e-4c09-8bdc-f0fe91901060'] {
      padding: 10px;
      height: 300px;
    }
  }

  .ss-shopify_cart .ajaxcart-progress {
    display: none;
  }
  a[href='/products/buy-prolon'] {
    display: none;
  }
  @media (max-width: 767px) {
    .column2y {
      float: none;
    }
  }
</style>
{{ product.metafields.global.custom_css }}

{% include 'extra-product-scripts' %}

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<style>
  p.prolon-above-price-notice {
    font-size: 16px;
    color: white;
    text-align: center;
    max-width: 95%;
    padding: 5px 10px;
  }

  p.prolon-aove-price-notice s {
    color: white;
    border-color: white;
  }
</style>
<script>
    $(document).ready(function(){

      $('.bold-widget-for-subs').remove();
  setTimeout(() => {
    $('input[type=radio][name=Quantity]:checked').change()
  }, 100);

  {%- comment -%} $(`<p class="green-bg-for-page prolon-above-price-notice" style="
       background: #73984a;
  "> Additional savings in cart with promo code:  <b>BIRTHDAY</b></p>`).insertAfter(`#ProductSection-6596423155870 .product-single__form .product-single__description`) {%- endcomment -%}

    })
</script>
