<link rel="stylesheet" href="{{ 'product-style.scss.css' | asset_url }}" />
{{product.metafields.global.overide_custom_css}} 
<style>
  


a[href="https://prolonfast.com/products/special-offer-bfcm"] {
    display: none;
}   
.intemittant-badge{
  font-weight: 100;
    font-size: 15px;
    line-height: 1;
    display: block;
    background: #fec91c;
    padding: 5px 15px;
    text-align: left;
    padding-left: 0px; 
    padding-right: 0px; 
    max-width: 212px; 
    padding-left: 0px;
    padding-right: 0px;
    white-space: nowrap;
}     
@media screen and (max-width:767px){

  .intemittant-badge{
    font-size:10px;
  }span.intemittant-badge.top-badge {
    text-align: center;
    margin: 0 auto;
    max-width: unset;
    display: inline-block;
    padding-inline: 20px;
    text-align: center;
}
} 
  
  #ProductSection-6712605442094 > div > div > div > div:nth-child(2) > div > h3 {
    display: none;}
</style>   
 <style>
   .CountDown__CountDownContainer-sc-1h24pt2-0.ghVzCA.cbCountdownContainer {
    max-width: 100%!important;
}

.SjonF.SjonF {
    max-width: 100%;
}

.SjonF.SjonF {
    font-size: 20px;
    white-space: pre-wrap;
    margin-top: 10px;
}
   
 </style>
  
{% if product.handle contains 'prolon' %}
<style>
  a.site-nav__link[href="/products/buy-prolon"] {
    display: none; 
  }
  {% if product.handle contains 'prolon-special' or product.handle contains 'prolon-michael' %}
  .announcement-bar {
    display: none; 
    
}
{% endif %} 
  
  {% if product.handle == 'special-offer' %}
  .announcement-bar {
    display: none !important;}
  {% endif %} 
  
.block-1600351337843 .column2x{ 
    float: right;
    background-color: white;
    width: calc(50% - 40px); 
    padding: 3%;
    border: 1px solid #73994a;
  
}
.block-1600351337843 .column2y{
  background-color: white;

  border: 1px solid #73994a;

}
  
.block-1600351337843 .page-width {width: 100%;padding: 0px;}
 @media  (min-width:767px) {
   
 
.block-1600351337843 .column2y {
    min-height: 500px;
} 

.block-1600351337843 .column2x {
    min-height: 500px;
}
}
@media(max-width:767px){
  .block-1600351337843 .column2x {
  width:100%;
  }
  #ProductSection-6595092774958 .grid__item {
    padding: 0px;
} 

.block-1600351337843 {
    margin-top: -50px;
}
}

@media (min-width:767px){
  .block-1600351337843 {
    margin-top: -90px;
}   
}
 
p.major-banner-coaching.major-banner-coaching { 
  display: block!important;
  background:none!important;
  padding-left:0px;
  border:unset; 
}
@media(max-width:767px){ 

  p.major-banner-coaching.major-banner-coaching{
    white-space: unset!important;
  } 
}
p.five-day-fast {
    background: #9fc94f;
    width: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    width: unset;
    padding: 2px 10px;
}
.page-width .grid {
    max-width: 1450px;
} 

#ProductSection-6595092774958 .page-content.page-content--product {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.slideshow__slide--1600351383959 .hero__title {
    position: relative;
    left: 40px;
    background: #ffffff54;
    padding: 15px;
    border-radius: 30px;
    backdrop-filter: blur(2.8px);
}


@media(max-width:767px){
.slideshow__slide--1600351383959 .hero__title {
    left: unset;
}

}  
</style>
{% endif %} 
<style>.toolbar + .header-sticky-wrapper .site-header {
  padding-bottom: 10px;
}

.product__photos img {
  object-fit: contain;
  object-position: unset;
}


.variant-input-radio-wrap[name=Quantity] {
  padding: 0px;
}

.variant-input-radio-wrap[name=Quantity] .variant-input div.price-wrapper {
  color: black;
}


a.btn.c-btn--full {
  background: #73984a;
}

.ajaxcart__inner.no-sub-product+.ajaxcart__footer {
  height: 280px!important;
}

span.btn {
  background: #73984a;
  border-radius: 40px;
}

.product__price-savings {
  color: black;
}
 
#shopify-section-product-template-narrow .product-single__meta form.product-single__form button.btn.btn.add-to-cart {
  border-radius: 40px;width: 505px; max-width: 100%;;
}
.description-left-placeholder {
    display: none;
} 
.text-divider {
display: flex;
align-items: center;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.1em;
background: #eff5e3;
width: 100%; 
}

.text-divider::before, .text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

 .text-divider::before {
  margin-right: var(--text-divider-gap);
}

 .text-divider::after {
  margin-left: var(--text-divider-gap);
}




.variant-input-radio-wrap[name=Quantity] {
  border-bottom: 1px solid #d8d8d8;
}


i.one-fsting {
  border: 1px solid #d8d8d8;
  padding: 2px;
  border-radius: 20px;
  width: 18px;
  display: inline-flex;
  height: 18px;
  font-size: 12px;
  justify-content: center;
  padding: 0px;
  align-items: center;
  background: lightgray;
}

fieldset.variant-input-radio-wrap {
  max-width: 520px; 
}   
@media(min-width:767px){
.variant-input-radio-wrap[name=Quantity] .variant-input .input_lable label {
    max-width: 340px; 
}      }   
.variant-input.variant-input div input:checked+label:before {
  background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgb(154 202 55) 46%,  rgb(154 202 55) 100%);
  border: black; 
}

.variant-input.variant-input div label:before {
  border: 2px solid #73984a;
}

.prolon-pricing {
  display: none;
} 
.intemittant-badge.intemittant-badge{
  background: transparent ;
}p.klarna-payment {
    display: inline-flex;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    line-height: 1;
    font-size: 14px;
    text-align: center!important;
    /* justify-content: center; */
}

p.klarna-payment svg {
    width: 66px;
    margin-left: 10px;
}

span[klarna-payment] {
    content: "123";
    display: block;
    margin-inline: 5px;
}

button#klarna-installments-cta {
    font-size: 14px;
    font-weight: 100;
    text-decoration: underline;
    font-family: 'Harmonia Sans';
    line-height: 1;
}
shopify-payment-terms{ 
  padding-bottom: 20px ;
}

@media(max-width:767px){
p.klarna-payment svg {
    width: 42px;
    height: 24px;
    text-align: center;
}

p.klarna-payment {
    justify-content: center;
    font-size: 13px;
}

p.major-banner-coaching {
    /* font-size: 12px; */
    text-align: center;
    margin: 0px;
    padding-right: 0px;
}



p.major-banner-coaching br {
    display: none;
}

p.major-banner-coaching.major-banner-coaching {
    font-size: 13px;
}} body.show-klarna-popup div#klarna-payment-terms-cover.hidden {
    display: block!important;
}
body.show-klarna-popup{
 overflow:hidden;
}
body.show-reset-info-popup div#reset-terms-cover.hidden {
    display: block!important;
}   
body.show-reset-info-popup{
 overflow:hidden;
} 
#klarna-payment-terms-cover span {
    display: inline;
}  #shopify-section-product-story-sections > div > div:nth-child(2) > div {
    background: none;
}

body.template-product .main-content {
    box-shadow: none;
}

.block-59ce6c55-4bfd-49a8-a2d4-a1a235c1fd8d >div {
    margin: 0px;
}small.reset-preorder {
    max-width: 520px;
    width: 100%;
} 

.block-a5d58633-e5f2-44c9-834d-9da4fafa8601>div {
    margin-bottom: 0px;
}  

.block-59ce6c55-4bfd-49a8-a2d4-a1a235c1fd8d img,.block-a5d58633-e5f2-44c9-834d-9da4fafa8601 img {
    border: 1px solid #73984a;
    padding: 10px;
    overflow: hidden;
    max-height: 387px;
    object-fit: contain;
}

.page-blocks>div:first-child .index-section {
    margin-bottom: 40px;
} 
.block-59ce6c55-4bfd-49a8-a2d4-a1a235c1fd8d .image-wrap,
.block-a5d58633-e5f2-44c9-834d-9da4fafa8601 .image-wrap {margin-bottom:20px;padding-bottom: 88%!Important;overflow: hidden;}
.product__photos ul.slick-dots {bottom: 10px;z-index: 9999;position: relative;}
 
.product__photos .slick-dots li button:before {
  background: black;
} 
div#PDPAddtoCartdiv .major-banner-coaching {
    display: none!important;
} p.klarna-payment svg {
    order: -1;
    margin-right: 16px;
    width: 50px;
}
  
p.klarna-payment {
    font-size: 15px;
}

button#klarna-installments-cta {
    font-size: 12px;
}  p.klarna-payment {
    display: inline-flex!important;
    margin-top: -10px;
    margin-bottom: 10px;
} 
@media(max-width:767px){
p.klarna-payment svg {
    width: 42px;
    height: 24px;
    text-align: center;
}

p.klarna-payment {
    justify-content: center;
    font-size: 13px;
}
p.shop-payment {
    font-size: 13px;
    display: inline;
}
}   
@media  (max-width: 767px) {
  
.product__photo-dots.product__photo-dots--6750409818158 {
    display: none ;
}      
}
</style>
<div class="ultimate-countdown"></div>  
{% section 'product-template-narrow' %} {% section
'product-story-sections' %} {% section 'recently-viewed' %} {% if collection %}
<div class="text-center page-content page-content--bottom">
  <a
    href="{% if collection.handle == 'frontpage' %}/{% else %}{{
      collection.url
    }}{% endif %}"
    class="btn btn--small return-link"
  >    
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon--wide icon-arrow-left"
      viewBox="0 0 50 15"
    >
      <path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z" />
    </svg>
    {{ "products.general.collection_return" | t: collection:collection.title }}
  </a>
</div>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(".variant__input-32593125703726").trigger("click");
    let orignalTrustImage = $(".trust-image").data("original-image");
    let secndImage =
      "https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Single_Box_-_50_off.png?v=1609968321";
    $('input[name="Quantity"][value*="Subscribe & Save"],input[name="Quantity"][value*="mon"]').click();
    $("input[type=radio][name=Quantity]").change(function () {
      $('shopify-payment-terms').addClass('active');

      $(".trust-image img")
        .show()
        .attr("src", orignalTrustImage)
        .removeAttr("srcset");
      if (this.value.includes("Single Prolon Order")) {
        //$('.trust-image').hide();
        $(".trust-image img")
          .show()
          .attr("src", secndImage)
          .removeAttr("srcset");
      }
  
      if (this.value.includes("Subscribe & Save") || this.value.includes("Monthly") ) {
        $('shopify-payment-terms').removeClass('active'); 
        addSubscriptionOptions();
        
      } else {   
        //$( "#subscription_plans").remove();
        $("input,select", ".simple-sub-plan").attr("name", "");
      }
      let fastBarWording = $(this).closest('.variant-input').find('.intemittant-badge').text();
      let sprice= $(this).closest('.variant-input').find('.t-price').attr('data-price').replace('$','');
      let sixMonthprice= sprice/6;
      $('.intermitant-badge-input').remove();$('.reset-preorder').remove(); 
      $('.klarna-input-hidden').remove(); 
     // $('#PDPAddtoCartdiv').append(`<input name="properties[${fastBarWording}]" value="yes" class="intermitant-badge-input" type="hidden" />`);     
      if( this.value.includes("ProLon Boxes") ){      
    //  $('#PDPAddtoCartdiv').append(`<input name="properties[*Pay With Klarna]" value="As low as $ ${sixMonthprice.toFixed(2)} / Month for 6 Months" class="klarna-input-hidden" type="hidden" />`) ; 
//      $(`<small class="reset-preorder" style="
//     margin-top: 10px; 
// ">Due to huge demand & global supply chain disruptions the Prolon Reset component will ship on the Week of March 14th</small>`).insertAfter(`#PDPAddtoCartdiv .add-to-cart`);
      }     
               
      //if() 
    //   if (this.value.includes("Fast Bar")) {
    //     $(`<span class="intemittant-badge top-badge" style="
      
    //  ">(includes 30ct Intermittant Fasting bars)</span>`).insertAfter('h3.h3.product-single__title')
    //   } else {  
    //     //$( "#subscription_plans").remove();
    //     $("input,select", ".simple-sub-plan").attr("name", "");
    //     $('.top-badge').remove();
    //   }

    });

    let klarnapaymenttextt =`<p class="klarna-payment" style="/* display:none */margin-top: -10px;"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="40.4494" viewBox="0 0 100 40.4494"><defs><style>.cls-1{fill:#ffb3c7;}</style></defs><g id="Lager_2" data-name="Lager 2"><g id="Layer_1" data-name="Layer 1"><rect class="cls-1" width="100" height="40.4494" rx="11.7384"></rect><path d="M80.0772,17.7235a6.194,6.194,0,1,0,0,10.2373v.75h3.5145V16.9727H80.0772Zm-3.1964,8.1388a3.0243,3.0243,0,1,1,3.1849-3.02A3.1059,3.1059,0,0,1,76.8808,25.8623Z"></path><rect x="28.2027" y="11.7416" width="3.678" height="16.9694"></rect><path d="M64.1542,16.6569a4.2694,4.2694,0,0,0-3.62,1.6383V16.9733h-3.5V28.711h3.5421V22.5424a2.4754,2.4754,0,0,1,2.6383-2.6591c1.5447,0,2.4325.9228,2.4325,2.6348V28.711h3.5107V21.2464C69.1577,18.5146,66.9857,16.6569,64.1542,16.6569Z"></path><path d="M43,17.7235a6.194,6.194,0,1,0,0,10.2373v.75h3.5145V16.9727H43Zm-3.1965,8.1388a3.0243,3.0243,0,1,1,3.1845-3.02A3.1058,3.1058,0,0,1,39.8034,25.8623Z"></path><path d="M51.9513,18.5017V16.9728H48.353V28.7111h3.606v-5.48c0-1.8491,2.0042-2.843,3.3949-2.843.014,0,.0276.0014.0417.0015V16.9735A4.3821,4.3821,0,0,0,51.9513,18.5017Z"></path><path d="M87.323,24.5476a2.2059,2.2059,0,1,0,2.206,2.2059A2.2057,2.2057,0,0,0,87.323,24.5476Z"></path><path d="M25.6675,11.7384H21.8558a9.7488,9.7488,0,0,1-3.9412,7.8678l-1.51,1.131,5.8513,7.9792h4.8106l-5.3837-7.342A13.5049,13.5049,0,0,0,25.6675,11.7384Z"></path><rect x="12.1204" y="11.7384" width="3.8185" height="16.9773"></rect></g></g></svg>* Pay as low as <span klarna-payment="">$70.00</span> every month for next 6 months <button aria-haspopup="dialog" class="klarna-installments__learn-more" data-price="70.00"  id="klarna-installments-cta">Learn&nbsp;more</button> </p>`;
    setTimeout(() => {
      
    
   
    $("input[type=radio][name=Quantity]").change(); 
    $("input[type=radio][name=Quantity]").each(function () {
  
      let sprice = $(this).closest('.variant-input').find('.t-price').attr('data-price').replace('$','');
    let sixMonthprice= sprice/6;
      if (this.value.includes("Subscribe & Save") || this.value.includes("Monthly")) {
        if ($(this).prop("checked")) {
          addSubscriptionOptions();
        }
      } else {
        $("input,select", ".simple-sub-plan").attr("name", "");
        //$( "#subscription_plans" ).remove();
      } 
    if($(this).val().includes("2 ProLon Boxes") || $(this).val().includes("3 ProLon Boxes")  ){

        let el= $(this).closest(`.variant-input`); 
    
      //  $(klarnapaymenttextt).insertBefore(el)
        $(klarnapaymenttextt.replaceAll('70.00',sixMonthprice.toFixed(2))).insertBefore(el)
 
    }    

//     if($(this).val().includes("3 Prolon Boxes")){

// let el= $(this).closest(`.variant-input`)  
     
//         $(klarnapaymenttextt.replaceAll('70.00','129.17')).insertBefore(el)
        
//     }  

      



    });
    }, 100);
    
  });

  function addSubscriptionOptions() {
    $(".simple-sub-plan").remove();
    $(`form fieldset[name=Quantity] [data-value*="Subscribe"],form fieldset[name=Quantity] [data-value*="Monthly"]`).append(
      '<div id="subscription_plans" class="simple-sub-plan" style="margin-left: 4px;">' +
        '<input type="hidden" name="properties[shipping_interval_unit_type]" value="Months">' +
        '<input type="hidden" name="properties[number_charges_until_expiration]" value="">' +
        '<select name="properties[shipping_interval_frequency]">' +
          '  <option data-charge_interval_frequency="1" value="1" data-end="0">Deliver every month</option>' +
          '  <option data-charge_interval_frequency="3" value="3" data-end="0">Deliver every 3 months</option>' +
        
        "</select>" +
        "</div>"  
    ); 
  } 

  setTimeout(function () {
    $('.variant__input-4634645430318[value*="Subscribe"]').click();
    addSubscriptionOptions();
  }, 50);

  $(window).load(function () { 
    $('input[name="Quantity"][value*="Subscribe & Save"],input[name="Quantity"][value*="Monthly"]').click();
    setTimeout(function () {
      $('.variant__input-4634645430318[value*="Subscribe"]').click();
      addSubscriptionOptions();
    }, 50);
  });
</script>
{% render 'product_infox' %}

<script>
  $(document).ready(function () {
    $('[for="ProductSelect-6712605442094-option-quantity-Single+ProLon+Order+%2B+30ct+Fast+Bar"]').append(`<span class="intemittant-badge" style="
    
">(includes 30ct Intermittent Fasting bars)</span>`) ;
  
  });  
</script>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
  
</script>

<script type="text/javascript">

$(document).ready(function(){

 
  $(`[data-product-images]`).prepend(`<p class="major-banner-coaching">All ProLon purchases include a 20 minute health coach consultation<b style="
    color: red;
"> — an additional $74 Value!</b></p>`) 
    
  $('.block-1600351337843').insertBefore('.faq__item');  
  $(`<div class="text-divider">FIRST TIME FASTER</div>`).insertAfter(`[data-value="Single ProLon Box"]`);
  $(`<div class="text-divider">INTERMIDIATE FASTER</div>`).insertAfter(`[data-value*="1 ProLon Box"]`)     
  $(`<div class="text-divider">FASTING LIFESTYLE</div>`).insertAfter(`[data-value*="3 ProLon Boxes"]`);
  
  $(`<div class="text-divider">ADVANCED FASTING</div>`).insertAfter(`[data-value*="2 ProLon Boxes"]`);
  
  $('.variant-input-radio-wrap[name=Quantity] .variant-input input[name="Quantity"]').change(function(){

let val = $(this).val();     

 if(val.toLowerCase().includes('reset')){
    let price= $(this).closest('.variant-input').find('.t-price').attr('data-price').replace('$','');
    if(price>0){
      let pricePerMonth= price/12;  
      //$(`span[klarna-payment]`).text(`$${pricePerMonth.toFixed(2)}`);
      $('.klarna-payment').show();    

    }
    
 }else{

     $('.klarna-payment').hide();
 }

    
});
   
$(document).on("click",'.klarna-installments__learn-more',function(e){
e.preventDefault();
$(".klarna-pop-pay-price").text($(this).attr('data-price'));
 
$('body').addClass('show-klarna-popup');
    
});     




$('.btn__close--icon,div#klarna-payment-terms-cover .btn__close').click(function(e){
  $('body').removeClass('show-klarna-popup');
});    
 
  
$('img.reset-info').click(function(e){
e.preventDefault();
$('body').addClass('show-reset-info-popup');
});



$('.btn__close--icon, div#reset-terms-cover .btn__close').click(function(e){
  $('body').removeClass('show-reset-info-popup');
});      
 

setTimeout(() => {
  $(".product__main-photos [id*=ProductPhotos]").slick("unslick");
  
  $(".product__main-photos [id*=ProductPhotos]").slick({
dots: true,
infinite: false,
speed: 300,arrows:true,
slidesToShow: 1,
autoplay: true, 
autoplaySpeed: 3000,
slidesToScroll: 1,
});   
}, 1000);

})  
</script>  
{% include 'klarna-popup', paymentText:"6" %}
{% include 'reset-info-popup' %}  