<link rel="stylesheet" href="{{ 'product-style.scss.css' | asset_url }}" />
{{product.metafields.global.overide_custom_css}} 
<style>
  


a[href="https://prolonfast.com/products/special-offer-bfcm"] {
    display: none;
}   
.intemittant-badge{
  font-weight: 100;
    font-size: 15px;
    line-height: 1;
    display: block;
    background: #fec91c;
    padding: 5px 15px;
    text-align: left;
    padding-left: 0px; 
    padding-right: 0px; 
    max-width: 212px; 
    padding-left: 0px;
    padding-right: 0px;
    white-space: nowrap;
}     
@media screen and (max-width:767px){

  .intemittant-badge{
    font-size:10px; 
  }span.intemittant-badge.top-badge {
    text-align: center;
    margin: 0 auto;
    max-width: unset;
    display: inline-block;
    padding-inline: 20px;
    text-align: center;
}
} 
  
  #ProductSection-6712605442094 > div > div > div > div:nth-child(2) > div > h3 {
    display: none;}
</style>   

  
{% if product.handle contains 'prolon' %}
<style>
  a.site-nav__link[href="/products/buy-prolon"] {
    display: none; 
  }
  {% if product.handle contains 'prolon-special' or product.handle contains 'prolon-michael' %}
  .announcement-bar {
    display: none; 
    
}
{% endif %} 
  
  {% if product.handle == 'special-offer' %}
  .announcement-bar {
    display: none !important;}
  {% endif %} 
  
.block-1600351337843 .column2x{ 
    float: right;
    background-color: white;
    width: calc(50% - 40px); 
    padding: 3%;
    border: 1px solid #73994a;
  
}
.block-1600351337843 .column2y{
  background-color: white;

  border: 1px solid #73994a;

}
  
.block-1600351337843 .page-width {width: 100%;padding: 0px;}
 @media  (min-width:767px) {
   
 
.block-1600351337843 .column2y {
    min-height: 500px;
} 

.block-1600351337843 .column2x {
    min-height: 500px;
}
}
@media(max-width:767px){
  .block-1600351337843 .column2x {
  width:100%;
  }
  #ProductSection-6595092774958 .grid__item {
    padding: 0px;
} 

.block-1600351337843 {
    margin-top: -50px;
}
}

@media (min-width:767px){
  .block-1600351337843 {
    margin-top: -90px;
}   
}
 
p.major-banner-coaching.major-banner-coaching { 
  display: block!important;
  background:none!important;
  padding-left:0px;
  border:unset; 
}
@media(max-width:767px){ 

  p.major-banner-coaching.major-banner-coaching{
    white-space: unset!important;
  } 
}
p.five-day-fast {
    background: #9fc94f;
    width: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    width: unset;
    padding: 2px 10px;
}
.page-width .grid {
    max-width: 1450px;
} 

#ProductSection-6595092774958 .page-content.page-content--product {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.slideshow__slide--1600351383959 .hero__title {
    position: relative;
    left: 40px;
    background: #ffffff54;
    padding: 15px;
    border-radius: 30px;
    backdrop-filter: blur(2.8px);
}


@media(max-width:767px){
.slideshow__slide--1600351383959 .hero__title {
    left: unset;
}

}  
</style>
{% endif %} 
<style>.toolbar + .header-sticky-wrapper .site-header {
  padding-bottom: 10px;
}

.product__photos img {
  object-fit: contain;
  object-position: unset;
}


.variant-input-radio-wrap[name=Quantity] {
  padding: 0px;
}

.variant-input-radio-wrap[name=Quantity] .variant-input div.price-wrapper {
  color: black;
}


a.btn.c-btn--full {
  background: #73984a;
}

.ajaxcart__inner.no-sub-product+.ajaxcart__footer {
  height: 280px!important;
}

span.btn {
  background: #73984a;
  border-radius: 40px;
}

.product__price-savings {
  color: black;
}
 
#shopify-section-product-template-narrow .product-single__meta form.product-single__form button.btn.btn.add-to-cart {
  border-radius: 40px;width: 505px; max-width: 100%;;
}
.description-left-placeholder {
    display: none;
} 
.text-divider {
display: flex;
align-items: center;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.1em;
background: #eff5e3;
}

.text-divider::before, .text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

 .text-divider::before {
  margin-right: var(--text-divider-gap);
}

 .text-divider::after {
  margin-left: var(--text-divider-gap);
}




.variant-input-radio-wrap[name=Quantity] {
  border-bottom: 1px solid #d8d8d8;
}


i.one-fsting {
  border: 1px solid #d8d8d8;
  padding: 2px;
  border-radius: 20px;
  width: 18px;
  display: inline-flex;
  height: 18px;
  font-size: 12px;
  justify-content: center;
  padding: 0px;
  align-items: center;
  background: lightgray;
}

fieldset.variant-input-radio-wrap {
  max-width: 500px;
}

.variant-input.variant-input div input:checked+label:before {
  background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgb(154 202 55) 46%,  rgb(154 202 55) 100%);
  border: black; 
}

.variant-input.variant-input div label:before {
  border: 2px solid #73984a;
}

.prolon-pricing {
  display: none;
} 
.intemittant-badge.intemittant-badge{
  background: transparent ;
}p.klarna-payment {
    display: inline-flex;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    line-height: 1;
    font-size: 14px;
    text-align: center!important;
    /* justify-content: center; */
}

p.klarna-payment svg {
    width: 66px;
    margin-left: 10px;
}

span[klarna-payment] {
    content: "123";
    display: block;
    margin-inline: 5px;
}

button#klarna-installments-cta {
    font-size: 14px;
    font-weight: 100;
    text-decoration: underline;
    font-family: 'Harmonia Sans';
    line-height: 1;
}
@media(max-width:767px){
p.klarna-payment svg {
    width: 42px;
    height: 24px;
    text-align: center;
}

p.klarna-payment {
    justify-content: center;
    font-size: 13px;
}

p.major-banner-coaching {
    /* font-size: 12px; */
    text-align: center;
    margin: 0px;
    padding-right: 0px;
}



p.major-banner-coaching br {
    display: none;
}

p.major-banner-coaching.major-banner-coaching {
    font-size: 13px;
}} body.show-klarna-popup div#klarna-payment-terms-cover.hidden {
    display: block!important;
}
body.show-klarna-popup{
 overflow:hidden;
}
body.show-reset-info-popup div#reset-terms-cover.hidden {
    display: block!important;
}   
body.show-reset-info-popup{
 overflow:hidden;
} 
#klarna-payment-terms-cover span {
    display: inline;
}  #shopify-section-product-story-sections > div > div:nth-child(2) > div {
    background: none;
}

body.template-product .main-content {
    box-shadow: none;
}

.block-59ce6c55-4bfd-49a8-a2d4-a1a235c1fd8d >div {
    margin: 0px;
}

.block-a5d58633-e5f2-44c9-834d-9da4fafa8601>div {
    margin-bottom: 0px;
}  

.block-59ce6c55-4bfd-49a8-a2d4-a1a235c1fd8d img,.block-a5d58633-e5f2-44c9-834d-9da4fafa8601 img {
    border: 1px solid #73984a;
    padding: 10px;
    overflow: hidden;
    max-height: 387px;
    object-fit: contain;
}

.page-blocks>div:first-child .index-section {
    margin-bottom: 40px;
} 
.block-59ce6c55-4bfd-49a8-a2d4-a1a235c1fd8d .image-wrap,
.block-a5d58633-e5f2-44c9-834d-9da4fafa8601 .image-wrap {margin-bottom:20px;padding-bottom: 88%!Important;overflow: hidden;}
.product__photos ul.slick-dots {bottom: 10px;z-index: 9999;position: relative;}
 
.product__photos .slick-dots li button:before {
  background: black;
} 
div#PDPAddtoCartdiv .major-banner-coaching {
    display: none!important;
}
@media  (max-width: 767px) {
  
.product__photo-dots.product__photo-dots--6750409818158 {
    display: none ;
}     
}
 </style>
{% section 'product-template-narrow' %} {% section
'product-story-sections' %} {% section 'recently-viewed' %} {% if collection %}
<div class="text-center page-content page-content--bottom">
  <a
    href="{% if collection.handle == 'frontpage' %}/{% else %}{{
      collection.url
    }}{% endif %}"
    class="btn btn--small return-link"
  >    
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon--wide icon-arrow-left"
      viewBox="0 0 50 15"
    >
      <path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z" />
    </svg>
    {{ "products.general.collection_return" | t: collection:collection.title }}
  </a>
</div>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(".variant__input-32593125703726").trigger("click");
    let orignalTrustImage = $(".trust-image").data("original-image");
    let secndImage =
      "https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Single_Box_-_50_off.png?v=1609968321";
    $('input[name="Quantity"][value*="Subscribe & Save"],input[name="Quantity"][value*="mon"]').click();
    $("input[type=radio][name=Quantity]").change(function () {
      $('shopify-payment-terms').addClass('active');

      $(".trust-image img")
        .show()
        .attr("src", orignalTrustImage)
        .removeAttr("srcset");
      if (this.value.includes("Single Prolon Order")) {
        //$('.trust-image').hide();
        $(".trust-image img")
          .show()
          .attr("src", secndImage)
          .removeAttr("srcset");
      }
  
      if (this.value.includes("Subscribe & Save") || this.value.includes("Monthly") ) {
        $('shopify-payment-terms').removeClass('active'); 
        addSubscriptionOptions();
        
      } else {  
        //$( "#subscription_plans").remove();
        $("input,select", ".simple-sub-plan").attr("name", "");
      }
      let fastBarWording = $(this).closest('.variant-input').find('.intemittant-badge').text();
      $('.intermitant-badge-input').remove(); 
      $('#PDPAddtoCartdiv').append(`<input name="properties[${fastBarWording}]" value="yes" class="intermitant-badge-input" type="hidden" />`); 
      //if() 
    //   if (this.value.includes("Fast Bar")) {
    //     $(`<span class="intemittant-badge top-badge" style="
      
    //  ">(includes 30ct Intermittant Fasting bars)</span>`).insertAfter('h3.h3.product-single__title')
    //   } else {  
    //     //$( "#subscription_plans").remove();
    //     $("input,select", ".simple-sub-plan").attr("name", "");
    //     $('.top-badge').remove();
    //   }

    });
    $("input[type=radio][name=Quantity]").change(); 
    $("input[type=radio][name=Quantity]").each(function () {
      if (this.value.includes("Subscribe & Save") || this.value.includes("Monthly")) {
        if ($(this).prop("checked")) {
          addSubscriptionOptions();
        }
      } else {
        $("input,select", ".simple-sub-plan").attr("name", "");
        //$( "#subscription_plans" ).remove();
      } 
    });
  });

  function addSubscriptionOptions() {
    $(".simple-sub-plan").remove();
    $(`form fieldset[name=Quantity] [data-value*="Subscribe"],form fieldset[name=Quantity] [data-value*="Monthly"]`).append(
      '<div id="subscription_plans" class="simple-sub-plan" style="margin-left: 4px;">' +
        '<input type="hidden" name="properties[shipping_interval_unit_type]" value="Months">' +
        '<input type="hidden" name="properties[number_charges_until_expiration]" value="">' +
        '<select name="properties[shipping_interval_frequency]">' +
          '  <option data-charge_interval_frequency="1" value="1" data-end="0">Deliver every month</option>' +
          '  <option data-charge_interval_frequency="3" value="3" data-end="0">Deliver every 3 months</option>' +
        
        "</select>" +
        "</div>"  
    ); 
  } 

  setTimeout(function () {
    $('.variant__input-4634645430318[value*="Subscribe"]').click();
    addSubscriptionOptions();
  }, 50);

  $(window).load(function () { 
    $('input[name="Quantity"][value*="Subscribe & Save"],input[name="Quantity"][value*="Monthly"]').click();
    setTimeout(function () {
      $('.variant__input-4634645430318[value*="Subscribe"]').click();
      addSubscriptionOptions();
    }, 50);
  });
</script>
{% render 'product_infox' %}

<script>
  $(document).ready(function () {
    $('[for="ProductSelect-6712605442094-option-quantity-Single+ProLon+Order+%2B+30ct+Fast+Bar"]').append(`<span class="intemittant-badge" style="
    
">(includes 30ct Intermittent Fasting bars)</span>`) ;
  
  });  
</script>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
  
</script>

<script type="text/javascript">

$(document).ready(function(){

 
  $(`[data-product-images]`).prepend(`<p class="major-banner-coaching">All ProLon purchases include a 20 minute health coach consultation<b style="
    color: red;
"> — an additional $74 Value!</b></p>`) 
    
  $('.block-1600351337843').insertBefore('.faq__item');
  $(`<div class="text-divider">FIRST TIME FASTER</div>`).insertAfter(`[data-value="Subscribe & Save $70"]`)
  $(`<div class="text-divider">FASTING LIFESTYLE</div>`).insertAfter(`[data-value="3 Prolon Boxes + 6 Reset 1-Day Boxes"]`);

  $(`<div class="text-divider">ADVANCED FASTING</div>`).insertAfter(`[data-value="2 Prolon Boxes + 2 Reset 1-Day Boxes"]`);
  
  $('.variant-input-radio-wrap[name=Quantity] .variant-input input[name="Quantity"]').change(function(){

let val = $(this).val();     

 if(val.toLowerCase().includes('reset')){
    let price= $(this).closest('.variant-input').find('.t-price').attr('data-price').replace('$','');
    if(price>0){
      let pricePerMonth= price/12;
      $(`span[klarna-payment]`).text(`$${pricePerMonth.toFixed(2)}`);
      $('.klarna-payment').show();    

    }
    
 }else{

     $('.klarna-payment').hide();
 }

    
});
  
$(document).on("click",'.klarna-installments__learn-more',function(e){
e.preventDefault();
$('body').addClass('show-klarna-popup');
    
});     



$('.btn__close--icon,div#klarna-payment-terms-cover .btn__close').click(function(e){
  $('body').removeClass('show-klarna-popup');
});    
 
  
$('img.reset-info').click(function(e){
e.preventDefault();
$('body').addClass('show-reset-info-popup');
});



$('.btn__close--icon, div#reset-terms-cover .btn__close').click(function(e){
  $('body').removeClass('show-reset-info-popup');
});      
 

setTimeout(() => {
  $(".product__main-photos [id*=ProductPhotos]").slick("unslick");
  
  $(".product__main-photos [id*=ProductPhotos]").slick({

dots: true,
infinite: false,
speed: 300,arrows:true,
slidesToShow: 1,
slidesToScroll: 1,
   
}); 
}, 1000);

})  
</script> 
{% include 'klarna-popup', paymentText:"12" %}
{% include 'reset-info-popup' %}